[2014-10-24 11:53] thak123 opened #1 "Running the app in the vs 2013 throws error"
The src code  either be a MVC or spa `<windowsAuthentication enabled="true" />`

this tag throws error in vs 2013 when the app is running and when the windows auth option is chosen

I am using .net 4.5

[2014-10-24 12:02] #1 closed, assigned to nobody

[2014-10-27 12:22] thak123 opened #2 "Setting up the OWIN MIXED auth for the existing app"
Moved from this [issue](https://github.com/MohammadYounes/MVC5-MixedAuth/issues/21)

Are you using CORS ? No
Are you using iframes ? NO
Browser used ? Chrome
Any customization you've done to your app that differs from default VS template?

yes i am not using the identity framework for authentication .I am having my own service which handles the authentication logic
Application Type: MVC, WebForms,

[2014-10-30 08:21] #2 closed, assigned to nobody

[2014-11-11 19:39] heathyates opened #3 "The project references NuGet packages(s) that are missing on this computer."
Steps to reproduce issue:
1. Create new default MVC5 .NET application with individual user accounts
2. Add MohammadYounes.Owin.Security.MixedAuth as a project
3. Add project as a reference to application in 1.
4. Clean MohammadYounes.Owin.Security.MixedAuth to build.
5. Error message:

"This project references NuGet package(s) that are missing on the computer. Enable NuGet Package Restore to downl

[2014-11-11 20:32] #3 closed, assigned to nobody

[2014-12-01 06:27] thak123 opened #4 "Signing out current detected user from the Owin Authentication manager when he is not present in the system"
How can i make the auth manger signout existing detected user from the current system if i dont find him in the data base against which i am checking it?

[2014-12-07 19:15] tompazourek opened #5 "Publish on NuGet"
I would love to see this published as a NuGet package.

Please consider it, it is not that difficult thing to do.
1. You need a `.nuspec` file (something like [this](https://github.com/tompazourek/Rationals/blob/master/Rationals.nuspec)).
2. You run `NuGet Pack YourPackage.nuspec`, which generates `YourPackage.nupkg`
3. You upload it to: https://www.nuget.org/

That's all. But it would help very m

[2014-12-12 15:28] #5 closed, assigned to nobody

[2014-12-12 15:30] #4 closed, assigned to nobody

[2015-02-13 11:41] Pradeep24985 opened #6 "Difference Between OWIN-MixedAuth vs. MVC5-MixedAuth"
HI,

I have both solution OWIN-MixedAuth as well as MVC5-MixedAuth. Both has same functionality but different implementation. Just curious, which one is better or best to use?

Thanks

[2015-02-13 11:55] MohammadYounes commented on #6
Hi,

I recommend using [OWIN-MixedAuth], because its modular and works seamlessly with other authentication providers.

All you need is [MohammadYounes.Owin.Security.MixedAuth.dll](https://github.com/MohammadYounes/OWIN-MixedAuth/tree/master/src/MohammadYounes.Owin.Security.MixedAuth), other projects are just samples.

 [MVC5-MixedAuth] is more of a proof of concept that makes mixed authentication

[2015-02-13 11:55] #6 closed

[2015-02-13 11:59] Pradeep24985 commented on #6
Thanks :)

[2015-03-01 23:01] flyinb opened #7 "parameter key null"
I have implemented as you have suggested, however on the login page, when I click Windows ( under Use another service to log in), I get the following error:

Server Error in '/' Application.

Value cannot be null.
Parameter name: key

Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and

[2015-03-02 09:05] MohammadYounes commented on #7
Does this happen with the repository samples or is it a new project you've created ?

Can you provide additional info about your setup? Also would be very helpful if you could share your `Startup.Auth.cs`

Thanks!

[2015-03-02 20:25] flyinb commented on #7
It's a new project. I also get an issue with the web.config entry in my mvc5 application. When I add the following:
<system.webServer>
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
  </system.webServer>

I get an "Invalid Configuration" yellow screen of death (500 error)...probably because <windowsAuthentication enabl

[2015-03-02 20:29] flyinb commented on #7
Oddly enough, I just rebuilt the solution, and commented web.config entry above out again, and it is now working.

I also enabled windows authentication security in IIS, which probably didn't help.

[2015-03-02 20:31] #7 closed

[2015-03-02 20:35] MohammadYounes commented on #7
The web.config entry is required if you want to enable windows authentication for the MixeAuth end point only (not the whole app). To do this and avoid getting the 500 error, you need  to unlock `windowsAuthentication` section as mentioned in the [README](https://github.com/MohammadYounes/OWIN-MixedAuth#running-the-samples)

Thanks for the feedback!

[2015-03-03 02:09] flyinb commented on #7
btw, great work on this.

On Tue, Mar 3, 2015 at 9:35 AM, Mohammad Younes <notifications@github.com>
wrote:

--
"Any intelligent fool can make things bigger, more complex, and more
violent. It takes a touch of genius -- and a lot of courage -- to move in
the opposite direction."
  -  Albert Einstein

"There are 10 types of people in the world: those who understand binary,
and those who don't"
-unk

[2015-03-03 13:39] sania13 opened #8 "Auto login when there are Windows credentials"
I understand that in order to get windows principles we need to issue a challenge (401 code) in controller and IIS server would send populated LogonUserIdentity object. I wonder if there is a way to do all that in the Owin middleware pipeline before we get to the MixedAuth middleware for processing. I think it would be more practical to automatically login user when there are Windows credentials (

[2015-03-03 14:35] MohammadYounes commented on #8
You can do that by hooking to the application `EndRequest` event, Instead of using the provided [`RegisterMixedAuth()`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/MixedAuthExtensions.cs#L34) extension method, implement your own:

[code]

Is this what you are trying to accomplish  ?

[2015-03-03 20:30] sania13 commented on #8
Thank you for your help.

Actually I found what I need. Here what I meant:

------------------------------------------------------------------------------------------
        [AllowAnonymous]
        public ActionResult Login(string returnUrl)
        {

            var loginInfo = AuthenticationManager.GetExternalLoginInfoAsync().Result;

            if (loginInfo == null)
            {

[2015-03-04 11:00] MohammadYounes commented on #8
I haven't used it, But I think yes!

Thanks for the feedback.

[2015-03-04 11:00] #8 closed

[2015-03-17 12:26] lpawlak opened #9 "Get E-mail and groups from AD"
After success login I get following message:

How to get e-mail address automatic from domain?
And what about AD groups - how to get list of them?

[2015-03-17 12:39] MohammadYounes commented on #9
Use [`MixedAuthProvider`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/Provider/MixedAuthProvider.cs)(You can inherit from the existing one or implement your own), In the `GetLogonUserIdentity` method, grab all required info from active directory and add them as claims. For example, the following maps AD groups to role claims:

[code]

[2015-03-17 13:18] lpawlak commented on #9
Can you explain please where these changes should be in MVC 5 project?

[2015-03-17 20:06] MohammadYounes commented on #9
In [**Startup.Auth.cs**](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/App_Start/Startup.Auth.cs#L73) use the overloaded version of `app.UseMixedAuth` method:

[code]

This will add the user email and AD groups to the claims list of the external identity (windows identity).

Next you need to read those claims when registering the external user and save them with the local us

[2015-03-19 14:47] lpawlak commented on #9
Thank you - it works great!

[2015-03-19 14:47] #9 closed

[2015-04-07 21:38] Saquibadil opened #10 "Web Identity vs Windows Identity"
How do I know what Authentication mode is used to authenticate a user.
What I am trying to do is hide "Log Off" link for the users that are logged in using Windows Authentication. Because the Log Off is logging them back in since they are in network.

Request.IsAuthenticated is true for both Windows and Web.
I tried HttpContext.Current.Request.LogonUserIdentity.IsAuthenticated - which is also true

[2015-04-08 10:32] MohammadYounes commented on #10
Short answer:

No.

Long answer:

The windows authentication is just an entry point, once you get authenticated, the external identity will be [replaced by a local identity](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Controllers/AccountController.cs#L335).

The log off link will still be required to log the user out. For example, a user logs in using windows identity then

[2015-04-08 10:32] #10 closed

[2015-04-08 11:57] thak123 opened #11 "Updating the Claims"
I am using this owin mixed windows & its working fine .

how can u update  a claim ?
[code]
I m getting error
The Claim '' was not able to be removed. It is either not part of this Identity or it is a claim that is owned by the Principal that contains this Identity. For example, the Principal will own the claim when creating a GenericPrincipal with roles. The roles will be exposed through the Iden

[2015-04-08 12:13] MohammadYounes commented on #11
Its hard to tell from the code you provided, have you tried updating the claim instead of replacing it! can share a sample application ?

[2015-04-08 12:19] thak123 commented on #11
// Get User
                var user = await _userService.GetUser(userId);

                if (user.Domains.Count > 0)
                {
                    var domain = user.Domains.Where(r => r.DomainID == domainId).First();
                    if (domain != null)
                    {
                        var identity = new ClaimsIdentity(_authenticationManager.User.Identity);

[2015-04-08 12:20] thak123 commented on #11
updating the claim .How that can be done ?

[2015-04-08 14:16] Saquibadil opened #12 "Custom Authentication Provider"
I just wanted to ask a question to you not "raise an issue", but looks like this is the only way I can reach out to you.

My question is:

I have implemented Owin-MixedAuth in my project. But the new requirement is that the intranet users should be able to Login over internet (from home). We have a service which accepts username and password and returns the user details and confirms the validity o

[2015-04-08 15:13] MohammadYounes commented on #12
Not sure why you are trying to simulate this, as your users will still be able to authenticate using the windows authentication end point over the web given they provide full domain\username.

Anyway, the missing piece in your code is the provider key, which is the ***nameidentifier*** claim, The value OWIN-MixedAuth uses for this claim is the [domain user SID](https://github.com/MohammadYounes/OW

[2015-04-08 15:13] #12 closed

[2015-04-08 16:23] Saquibadil commented on #12
If I pass domain user SID, it will only authenticate the user if the user is in network.

Can you give an example of how I can configure windows authentication end point and how I can make use of it in code.

Thank you!

[2015-04-08 19:46] MohammadYounes commented on #12
Yes, the external login will be matched against linked logins stored in the database. The local user linked to that login will be authenticated.

The windows authentication endpoint is part of `MixedAuthOptions` and the default path is [`/MixedAuth`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/MixedAuthOptions.cs#L33).

I thought you were

[2015-04-08 20:04] MohammadYounes commented on #11
I don't have a sample app at my disposal at the moment, it will be super helpful if you could put a complete sample that I can debug.

Based on the error you described and the code sample your provided, you may try the following
 (NOT TESTED!)
[code]

[2015-04-08 20:04] #11 closed

[2015-04-08 20:08] Saquibadil commented on #12
Unfortunately, our architecture does not allow to link local logins with external logins and the local logins are stored in a separate database which is only accessible via a service. Local users will never register as external user.

With that in mind we are implementing these requirements:

1. External users can register/login using forms authentication - this is achieved using asp.net identity.

[2015-04-08 20:19] MohammadYounes commented on #12
If you are not using HTTPS, then your domain users will be sending their AD credentials in plain text over the network.

See issue #9

[2015-04-09 04:24] thak123 commented on #11
Thanks very much.It worked Like a charm

[2015-04-09 08:04] MohammadYounes commented on #11
Awesome :+1:

Thanks for the feedback!

[2015-04-09 14:59] sania13 opened #13 "Consider changing how you get logonUserIdentity"
I suggest you to change how you get your logonUserIdentity’. It is only available in ‘PostAuthenticate’ OWIN pipeline stage events. If you protect your resources with OAuth2/Open ID connect Identity provider you would be running in ‘Authenticate’ event and ‘logonUserIdentity’ is not  available (((System.Web.HttpContextBase)Request.Environment["System.Web.HttpContextBase"]).Request.LogonUserIdentit

[2015-04-09 15:14] MohammadYounes commented on #13
Not sure how its working for you? as I'm interested in getting the [`WindowsIdentity`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/Provider/IMixedAuthProvider.cs#L31) !

[2015-04-09 15:28] MohammadYounes commented on #13
[Usage](https://github.com/MohammadYounes/OWIN-MixedAuth#usage) Step 3

As long as you configure MixedAuth after any provider that uses  `PipelineStage.Authenticate`, you'll run in `PipelineStage.PostAuthenticate`.

[2015-04-09 15:28] #13 closed

[2015-04-10 14:27] Saquibadil opened #14 "Authentication - Windows to Read/Write"
This setting is done on the server node in IIS. (Feature Delegation)
Well, at my client side there are lot of other applications in one server. Changing this setting on server node for my application might affect other applications. How can I make this setting for only my application?

[2015-04-10 16:52] MohammadYounes commented on #14
If you want to configure delegation for just one site, use the Custom Site Delegation as described [here](http://www.iis.net/learn/manage/managing-your-configuration-settings/an-overview-of-feature-delegation-in-iis)

![Custom Delegation](http://i1.iis.net/media/7179269/an-overview-of-feature-delegation-in-iis-155-An%20Overview%20of%20Feature%20Delegation%20in%20IIS%207.0%20-%20Figure%204.jpg?cdn_

[2015-04-10 16:52] #14 closed

[2015-04-17 08:13] lpawlak opened #15 "LogOff issue?"
Firefox/ MVC 5 Project
User is authorized by external (Windows) login. After execute LogOff and don't close browser windows when click Windows login don't have to enter login and password. so if many user uses the same PC, and don't close browser, can log to other account!
I have following action:
[code]
Please help.

[2015-04-17 11:08] MohammadYounes commented on #15
This behavior is by default. Browsers will cache the windows credentials and use them for subsequent windows authentication requests, no prompt will be displayed asking for user credentials (Even if your internet settings were set to prompt for username and password).  You need to either close the browser or invalidate the browser credentials cache.

The log off link will still be required to log

[2015-04-17 11:08] #15 closed

[2015-04-17 20:50] Saquibadil opened #16 "ExternalSignInAsync fails"
So, I am trying to login using Windows authentication, over the internet.

First I connected to Domain, using PrincipalContext, like this
[code]
userPrincipal.Sid is correct - validated it.

The thing is this code was working couple days ago, when I demoed. But all of a sudden it stopped working and I have no idea.

I checked all my configuration changes.

applicationhost file is correct,
[code]
A

[2015-04-17 21:56] MohammadYounes commented on #16
Based on your last update, seems the problem is with finding the user using the external login info. Are you using a custom user manager or asp.net default ?

[2015-04-17 22:09] Saquibadil commented on #16
I am using asp.net default user manager.

Other users are facing similar issues with using external logins... Just in case it might ring any bell for you...

http://stackoverflow.com/questions/19453293/asp-net-mvc-5-vs2013-final-facebook-login-with-owin-fails-logininfo-is-null/21439834#21439834

http://stackoverflow.com/questions/20737578/asp-net-sessionid-owin-cookies-do-not-send-to-browser/21234

[2015-04-17 22:20] MohammadYounes commented on #16
That's different from your case, `GetExternalLoginInfoAsync` reads the external cookie, In your case you are not doing that!

Also you state that a direct call to your user store `UserManager.FindAsync(new UserLoginInfo("Windows", "my sid"));` does not return the user!!

Open your DB and check the `UserLogins` table and see if you can find a record matching the provided info

| loginProvider | pro

[2015-04-17 22:35] Saquibadil commented on #16
Oh. That's my bad.

I want to login the windows user without storing it's record in UserLogins table, since we have a service that authenticates the user.
The requirement I have is to login the user without creating a record in UserLogins, can I just do SignInAsync() by passing the user that doesn't exist in database?

Thank you very much!

[2015-04-17 22:44] MohammadYounes commented on #16
No, if you are using the default asp.net UserManager. At least you must have some custom logic to map the windows user to a local user account and then call `SignInAsync` passing the local account.

[2015-04-17 22:44] #16 closed

[2015-04-17 22:57] Saquibadil commented on #16
Do you know how it is possible to map windows user to a local user account, without creating a record in database.

Thank you!

[2015-04-17 23:01] MohammadYounes commented on #16
How do you register your windows users ?

[2015-04-17 23:05] Saquibadil commented on #16
Windows users just like web users, enter their username and password when they login over the internet. Then we have a service that accepts username and password and tell us whether the user is valid. We don't do registration for windows users.

[2015-04-17 23:18] MohammadYounes commented on #16
Since you don't do registration for windows users, then perhaps create dummy local accounts!
[code]

[2015-04-17 23:34] Saquibadil commented on #16
But does it not create a record in User table.
Can I just log the user in from code, without going to database.

[2015-04-17 23:42] MohammadYounes commented on #16
You could do:
[code]
But things will turn ugly in case any DB call is made by the `SignInManager`, for example checking if the user email or phone number are confirmed!

[2015-04-18 03:51] Saquibadil commented on #16
Thanks for your reply MohammadYounes.

I tried implementing the above code but it is throwing an exception with a message. UserId is null

Is there anything I can do to skip this error.

[2015-04-18 11:13] MohammadYounes commented on #16
Such exception is very much expected! You are trying to make a system that is based around user to work without one.

[2015-05-01 11:14] TrabacchinLuigi opened #18 "ApiController requests are unauthenticated"
i've installed this middleware with nuget on an MVC5 with controller AND ApiControllers
the default configuration for ApiController include those two lines that seems to prevent the authentication to work. Commenting them out seems to get things back to normality, but i wonder if this is a correct behaviour.

    // App_Start\WebApiConfig.cs

    // Web API configuration and services
    // Config

[2015-05-01 11:25] MohammadYounes commented on #18
These are used to enable suppression of the host's default authentication, Forcing your Web API to use only bearer tokens for authentication.

This means you must first get an Access Token, then send an Authorization header with each API call `Authorization: Bearer imSXTs2OqSrGWzsFQhIXziFCO3rF...`

You can find more details and a sample [here](http://www.asp.net/web-api/overview/security/individua

[2015-05-01 11:25] #18 closed

[2015-05-19 14:05] dotnetfreak opened #19 "This configuration section cannot be used at this path."
Try as I might I can not get away from a 500.19 Error.

"This configuration section cannot be used at this path. This happens when the section is locked at a parent level. Locking is either by default (overrideModeDefault="Deny"), or set explicitly by a location tag with overrideMode="Deny" or the legacy allowOverride="false"."

I am using VS2015RC and IISExpress on Windows 7.
I have updated the a

[2015-05-19 14:58] MohammadYounes commented on #19
Strange!

Check if there is a location override for your app, for example:
[code]

or `allowOverride="false"` on any parent section.

[2015-05-19 15:05] dotnetfreak commented on #19
I managed to get it to work, by enabling "Windows Authentication" in the "Development Server" section of the project properties, and removing the <location> section from the web.config.  Thanks for your help...I was half way through hacking together my own implementation when I found yours (which is considerably more complete, as clearly is your understanding of the owin structure than min), when

[2015-05-19 15:26] MohammadYounes commented on #19
That could work! but unlocking the section gives the advantage of restricting Windows Authentication to MixedAuth endpoint only.  In case you find out what caused the error in your setup, feel free to post here.

Thanks.

[2015-05-19 15:26] #19 closed

[2015-05-19 15:32] dotnetfreak commented on #19
Will Do.  I suspect it is a 2015RC development server issue...in which case, I will correct the implementation when we deploy to iis.

[2015-05-20 17:19] brianflynn opened #20 "Error when running app with MixedAuth turned on"
I'm running .net 4.5, MVC 5 and the latest Entity Framework version. When I enable MixedAuthentication, I get the following exception before it ever hits a single Controller.

[NullReferenceException: Object reference not set to an instance of an object.]
   System.Web.PipelineStepManager.ResumeSteps(Exception error) +2324
   System.Web.HttpApplication.BeginProcessRequestNotification(HttpContext c

[2015-05-21 12:11] MohammadYounes commented on #20
Can you share a sample project, or use the source code and try debugging it ?

[2015-05-21 19:55] brianflynn commented on #20
I appreciate the offer, but I got everything working. Thanks!

From: Mohammad Younes [mailto:notifications@github.com]
Sent: Thursday, May 21, 2015 8:11 AM
To: MohammadYounes/OWIN-MixedAuth
Cc: Brian C. Flynn
Subject: Re: [OWIN-MixedAuth] Error when running app with MixedAuth turned on (#20)

Can you share a sample project, or use the source code and try debugging it ?

—
Reply to this email direc

[2015-05-21 20:19] MohammadYounes commented on #20
Would you care to share what was wrong? might help others in case they face a similar issue!

Thanks.

[2015-05-21 20:19] #20 closed

[2015-05-21 20:23] brianflynn commented on #20
I blew away my solution and started over because I was having so many issues, and when I tried again, it worked. That being said, I believe it was because I had placed “this.RegisterMixedAuth();” in the “Application_Start()” instead of the MvcApplication constructor but I don’t know that for a fact.

From: Mohammad Younes [mailto:notifications@github.com]
Sent: Thursday, May 21, 2015 4:20 PM
To: M

[2015-05-21 20:24] MohammadYounes commented on #20
Thanks for the feedback, very much appreciated!

[2015-05-21 20:31] acctforrandomstuff opened #21 "Copyright and license"
It seems large parts of your code are taken from the `Microsoft.Owin.Security` libraries with only minor edits, like renaming the namespace and class, e.g. `MohammadYounes.Owin.Security.MixedAuth/Provider/MixedAuthApplyRedirectContext.cs` is from `Microsoft.Owin.Security.Google/Provider/GoogleApplyRedirectContext.cs`.  Shouldn't you retain their copyright headers rather than replacing with your ow

[2015-05-21 20:51] MohammadYounes commented on #21
Following the patterns used in building OWIN providers in Katana project does not mean the code is taken from there! For example: [OwinOAuthProviders](https://github.com/RockstarLabs/OwinOAuthProviders) which is licensed under MIT too.

[2015-05-21 21:11] acctforrandomstuff commented on #21
I'm not a lawyer so maybe I'm misunderstanding the use of copyrights and licenses.  Are you saying the code in the Provider folder is not copyrightable because they are merely a patterns?  I looked at a few of the files in the RockstarLabs project that you linked and don't see that they claimed any copyright on that code.

[2015-05-21 21:25] MohammadYounes commented on #21
Well, now I'm not sure if this is considered a copyright infringement or not! As for RockstarLabs, the copyright notice redirects you to [license.txt](https://github.com/RockstarLabs/OwinOAuthProviders/blob/master/license.txt).

[2015-05-21 21:39] acctforrandomstuff commented on #21
Perhaps I shouldn't have used the word "taken" in my initial comment as I'm sure it was inadvertent.  I just wanted to point out that your copyright claims for some of this code might be somewhat questionable.  For example, compare these:

[GoogleAuthenticationProvider](https://github.com/yreynhout/katana-clone/blob/master/src/Microsoft.Owin.Security.Google/Provider/GoogleAuthenticationProvider.cs

[2015-05-21 21:46] MohammadYounes commented on #21
I'm aware of the similarities, as I tried to make it as much as possible similar to Katana, which makes it easier for developers to use/debug the MixedAuth middleware.

[2015-05-21 21:57] acctforrandomstuff commented on #21
I don't see a problem with that.  But why the copyright claim?  If there's to be any copyright header on those files, the original ones should be there instead or at least in addition to yours.  The Apache License and Notice files should also be included.

[2015-05-21 22:14] MohammadYounes commented on #21
Because I'm the author of these files.

I don't think it's necessary.

May I ask why you are so concerned about this ?

[2015-05-21 22:51] acctforrandomstuff commented on #21
As far as I understand, "author" means "original creator", which doesn't appear to me to be the case, even the comments are exactly same.  Btw, you forgot to change the [`options`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/Provider/MixedAuthApplyRedirectContext.cs#L30) param in `MixedAuthApplyRedirectContext.cs`.

Since you took the tim

[2015-05-21 23:02] MohammadYounes commented on #21
I'm not resistant to change, and I don't deny using some code from katana project. But you still didn't answer my question!

[2015-05-21 23:16] acctforrandomstuff commented on #21
Redirecting this issue to make it about me and my concerns is unhelpful and off-topic.  But if your curiosity must be satisfied, I'm concerned because I believe OSS is a sort of ecosystem which works best when we respect each other and our contributions.  And, part of that is not claiming authorship of someone else's work.

[2015-05-22 19:19] MohammadYounes commented on #21
I appreciate your concern, and I didn't intend to take credit for someone else's work. I'm sorry it looks like that to you.

Will clear this up in the next update.

Thanks.

[2015-06-02 13:07] dotnetfreak opened #22 "401.2 : You are not authorized to view this page due to invalid authentication headers."
Mohammed,
Have you come across getting a 401.2 - Unauthorized "You are not authorized to view this page due to invalid authentication headers." exception before?

I have deployed to IIS on Server 2012. The AppPool is running Integrated mode.  I have unlocked the Feature Delegation settings to do with Authentication.  I have added the following in the web config.
[code]
and yet I get the above erro

[2015-06-02 13:44] MohammadYounes commented on #22
Try enabling **Anonymous Authentication**!

[2015-06-02 14:32] dotnetfreak commented on #22
The correct answer would be..."Try Installing Windows Authentication on the server".  Doh! Sorry.

[2015-06-02 14:32] #22 closed

[2015-06-02 14:34] MohammadYounes commented on #22
:smile:

[2015-06-03 18:56] DeHaynes opened #23 "Object reference not set to an instance of an object."
I tried setting your MixedAuth up in a Visual Studio 2013 MVC WebApplication.  I keep getting "Object reference not set to an instance of an object."  I decompiled your DLL and added it back in as a project to try and determine where the issue was at.  It keeps getting caught on the following line

			if (base.Response.StatusCode != 401)
			{
				return Task.FromResult<object>(null);
			}

in the

[2015-06-03 19:15] DeHaynes commented on #23
I downloaded the source-code and tried it.  I got the same results.

[2015-06-03 19:26] DeHaynes commented on #23
I figured it out.  In the Global.asax.cs, I put the "this.RegisterMixedAuth();" inside of the "Application_Start" method instead of in the constructor.

[2015-06-03 20:37] MohammadYounes commented on #23
Great!

Thanks for the feedback.

[2015-06-03 20:37] #23 closed

[2015-07-15 18:17] ssteiner opened #24 "automatic login for internal users"
Hi

This is basically picking up on issue 8. I tried implementing the custom RegisterMixedAuth method, but I only get a FakeStatusCode when I try accessing a method behind an authorize tag - and then if I check the app.Context at this point, context.User.Identity is an empty identity. So how'd you go about determining that a user is actually internal?

And as for sania13's post (too bad github doe

[2015-07-15 20:40] MohammadYounes commented on #24
If you are getting the fake status code, then most probably you didn't register MixedAuth in Global.asax ([step 2](https://github.com/MohammadYounes/OWIN-MixedAuth#usage))

Internal or external refers to the network the user is accessing your app from, so IP address would be the way to go.

As for auto windows login, have you tried the workaround described [here](https://github.com/MohammadYounes/

[2015-07-27 08:15] ssteiner commented on #24
Hi
Sorry for the late reply - I was on holidays.
MixedAuth is properly registered and does work just fine. But the user has to select whether to use windows authentication or local authentication in the login page - something I'd like to try and avoid.

I'll give the approach you linked to a whirl later today.

Thanks

[2015-07-27 08:49] ssteiner commented on #24
Which sections of the web.config does step 3a go into? I tried making a httpHandlers section under system.web and adding the line you posted for 3a, but upon compilation I'm getting warnings that neither name nor preCondition are allowed attributes.

[2015-07-27 08:52] MohammadYounes commented on #24
3a is not required here, since you are using OWIN middleware. You only need the 401.html part (4b).

[2015-07-27 09:07] ssteiner commented on #24
Hi
I think I mixed up something.. first off I started playing with MVC5-MixedAuth (where I did manage to get it working.. the first access to a controller method behind an Authorize Attribute auto logs me in if I'm on a domain machine).

Now off to try if I can change the OWIN-MixedAuth to integrate it all into my own web app.

[2015-07-27 09:12] ssteiner commented on #24
umm.. I take it I need to modify the MohammadYounes.Owin.Security.MixedAuth project given that this is what I'm currently using from Nuget. However, that gives me a discrepancy to the instructions because now I have no AccountController.Windows.cs to modify.

So, which steps are pertinent for OWIN-MixedAuth? I figure 1, 3b and 4, correct? So I wouldn't even have to make my own build but could keep

[2015-07-27 09:18] ssteiner opened #25 "Creating the entry in the aspnetusers table manually"
Hi

I noted that if a user logs in, he/she gets an entry in the ASPNetUsers table, just like local users. I was wondering what kind of data need to be added to do this prior to the user logging in. I'm devising a system with local roles and I'd like to be able to assign them prior to the user first logging in, but to do that, I need the entry in the ASPNetUsers table (and create one if there's non

[2015-07-27 18:54] MohammadYounes commented on #24
Yes :)

[2015-07-27 19:01] MohammadYounes commented on #25
Hi,

This is the default ASPNET identity behavior, all external logins require a local account. The difference is the local account is created without a password.

Any updates you want to apply to newly created accounts can be done [upon account creation](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Controllers/AccountController.cs#L374).

Thanks.

[2015-07-27 19:01] #25 closed

[2015-07-28 11:13] ssteiner commented on #25
I don't mind having that entry - I'm more curious how that record is created so that I could generate it on my own (prior to the user logging in).

[2015-07-28 19:56] MohammadYounes commented on #25
This statement [`UserManager.CreateAsync(user);`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Controllers/AccountController.cs#L374) is the one responsible for creating that record. Internally it calls the `UserStore.CreateAsync` which in turn creates the DB record.

[2015-07-30 14:19] MohammadYounes commented on #24
The 401.html approach provides auto windows login for all users. In case you want this to be specific for internal users, follow the steps mentioned [here](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-76956157).

Thanks.

[2015-07-30 14:19] #24 closed

[2015-07-31 09:48] brianlagerman commented on #25
We also had to prepopulate the User and UserLogin tables with AD Accounts, so in addition to calling UserManager.CreateAsync() we hit UserManager.AddLoginAsync() as well.

For example, we pulled all the users from AD with something similar to the following, and then just built the user and login objects from the AD values:

using System.DirectoryServices;
using System.DirectoryServices.AccountMana

[2015-08-13 09:27] brianlagerman opened #26 "ASP.NET 5 Version"
I'm curious to see if you have any plans or ideas to support the new dnxcore50. I see that the IAppBuilder has been changed to IApplicationBuilder, which doesn't seem to have any mechanism for StageMarkers (or if it does, I can't find it). There's also the big reference to System.Web in there, which I'm not sure can be avoided.

[2015-08-13 11:02] MohammadYounes commented on #26
Currently I have no idea! as I haven't used ASP.NET 5 yet. I'll update you once I do.

Thanks.

[2015-08-13 13:31] #21 closed

[2015-08-13 15:00] MohammadYounes commented on #21
@acctforrandomstuff Sorry for being late on this, Is [this update](https://github.com/MohammadYounes/OWIN-MixedAuth/commit/82b787314e9decbeb9462da10e07fe49edfd6735) clear enough ?

[2015-09-03 06:47] daudihusbands opened #27 "Integration with IdentityServer3"
Any idea how this can be used with IS? I'm trying to create a single signon experience across several apps. I also want the apps to support mixed auth. I've been able to use your middleware in conjunction with the MVC templates.

Regards,
Daudi

[2015-09-03 08:27] MohammadYounes commented on #27
I haven't used it, so I have none :)

[2015-09-03 08:27] #27 closed

[2015-10-21 17:33] emf411 commented on #8
Hello,

I am using the code you suggested above by creating my own hook to the EndRequest event (and registering it in Global.asax), but what else do I need to change so that when a user hits my /Account/Login page, it will automatically log them in if they have valid Windows credentials?

Thank you!

[2015-10-21 18:26] MohammadYounes commented on #8
@emf411 This is different, If your target is to have auto windows login as described in the MVC5-MixedAuth solution, You could do the following:

**1. Startup.Auth.cs**: Change `LoginPath` to point to Windows Login Action

[code]

**2. AccountController.cs**: Add `WindowsLogin` action to request the windows challenge.

[code]

**3. 401.html**: Add 401.html error page to your app root that will red

[2015-10-21 18:51] emf411 commented on #8
This is perfect, thank you so much!!  I figured out a likely inefficient work-around, your WindowsLogin function was exactly what I needed.  Code is now working as expected, Windows users in my database are automatically being logged in, and non-Windows users are getting to the Login page.

Thanks very much for the quick reply to this!

[2015-10-21 21:27] emf411 commented on #8
One more question around the ExternalLoginCallback method.

I deleted a Windows user account from my AspNetUsers table which is correctly causing  SignInManager.ExternalSignInAsync to return SignInStatus.Failure

I am correctly returned to /Account/Login at this point.  Locally on IIS Express, everything runs as expected, however my Windows 2008 IIS is incorrectly storing that Request.IsAuthentica

[2015-10-22 07:40] MohammadYounes commented on #8
`Request.IsAuthenticated` will be True when the user has been authenticated (for example: by a cookie), while `Request.LogonUserIdentity.IsAuthenticated` will be True when the Windows user has been authenticated.

Clear your cookies and try again!

[2015-10-22 14:41] emf411 commented on #8
Thank you Mohammad!  I really appreciate your help on this.

I tried clearing cookies but I'm still having the same problem.

Maybe my scenario is slightly different.  My site will be both internal on my LAN and external to the Internet.  What I'm trying to do is this:

1. When the user hits my site, determine if they are internal or external (I already have this working)

2. If they are external,

[2015-10-22 19:07] MohammadYounes commented on #8
Seems you have a specific scenario, but all can be managed in your actions. In step 4, you may also need to sign out the external cookie  `AuthenticationManager.SignOut(DefaultAuthenticationTypes.ExternalCookie);`.

As for not registering those users, it's controllable in your [`ExternalLoginCallback`](https://github.com/MohammadYounes/MVC5-MixedAuth/blob/master/src/Controllers/AccountController.c

[2015-10-26 16:23] Saquibadil opened #28 "IIS setting"
Hello,

I see the IIS setting for the Windows Authentication is made at the server level. Is there a way to make this setting at the website level, because we have other websites hosted on the same server, I would prefer to make the setting on the website level.

Thank you

[2015-10-27 05:02] MohammadYounes commented on #28
Hi,

The server setting is just to unlock the `windowsAuthentication` section, and it's required since it's the root we are trying to override! Another alternative is to enable Windows Authentication/Anonymous authentication on the website level and Deny Anonymous Authentication to the Windows Login Path.

Thanks.

[2015-10-27 05:02] #28 closed

[2015-11-18 20:31] Klainer opened #29 "HTTP Error 418.0 The module does not recognize the error affected."
Hello thanks for your code. I try implement it with ABP framework (http://www.aspnetboilerplate.com/), but when I try logIn by windows button, I got this error message:

HTTP Error 418.0 The module does not recognize the error affected.
Detailed Error Information:
Module	   ManagedPipelineHandler
Notification	   ExecuteRequestHandler
Handler	   Windows Login Handler
Error Code	   0x00000000

Where

[2015-11-18 20:35] MohammadYounes commented on #29
Did you follow the [usage steps](https://github.com/MohammadYounes/OWIN-MixedAuth#usage) ?

Seems you didn't register it in **Global.asax**, please confirm!

[2015-11-18 20:54] Klainer commented on #29
Ok works THANKS FOR QICK REPLY !, but not completly, I got another error: The provided anti-forgery token was meant for user "", but the current user is "MM-PC\Martin". on WindowsLoginHandler.cs    row: 119 BTW I used code from https://github.com/MohammadYounes/MVC5-MixedAuth .. It is possible to do sample with ABP framework ?

[2015-11-19 06:46] Klainer commented on #29
Ok, thanks, clear cookies no work. Yes MVC5-MixedAuth, I´m sorry. I understand but if you find the time I will be very grateful!

[2015-11-19 06:56] MohammadYounes commented on #29
Can you share a sample app with your modifications?

[2015-11-19 11:40] MohammadYounes commented on #29
Closing this, Once you manage to put together a sample online, please open a new issue at [MVC5-MixedAuth](https://github.com/MohammadYounes/MVC5-MixedAuth).

Thanks!

[2015-11-19 11:40] #29 closed

[2015-11-19 16:16] Klainer commented on #29
Hello, I prepared sample project with Owin Mixed auth. There is a link: https://mega.nz/#!6E0nHQ5Y!wN2ZR7j5s3cE2RdkYW-nIgeWoGwzjLZdj349S15Lt34

 I´m using ABP, login screen show windows auth icon. After click i got error:

[ArgumentNullException: Hodnota nemůže být NULL.
Název parametru: key]
   System.Collections.Generic.Dictionary`2.FindEntry(TKey key) +12209537
   System.Collections.Generic.Dic

[2015-11-19 18:10] Klainer opened #30 "OWIN-MixedAuth with ABP - no work"
Hello, I prepared sample project with Owin Mixed auth. There is a link: https://mega.nz/#!6E0nHQ5Y!wN2ZR7j5s3cE2RdkYW-nIgeWoGwzjLZdj349S15Lt34

I´m using ABP, login screen show windows auth icon. After click i got error:

[ArgumentNullException: Hodnota nemůže být NULL.
Název parametru: key]
System.Collections.Generic.Dictionary2.FindEntry(TKey key) +12209537 System.Collections.Generic.Dictionary2

[2015-11-19 19:46] MohammadYounes commented on #30
Hi, Thanks for the sample!

Your issue is due to using MixedAuth before other middlewares that uses `PipelineStage.Authenticate`, As mentioned in step 3 in the [Usage Section](https://github.com/MohammadYounes/OWIN-MixedAuth#usage):

Update your Startup class as follows and you are good to go!

[code]

[2015-11-19 19:46] #30 closed

[2015-11-19 19:59] MohammadYounes commented on #29
Thanks! Answered [here](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/30#issuecomment-158173793).

[2015-11-19 20:57] Klainer commented on #30
Thanks! But i get another error: HTTP Error 500.19 - Internal Server Error (problem with config):

Resource od configuration:
 50:         <authentication>
   51:           <windowsAuthentication enabled="true" />
   52:         </authentication>

I red your manual, in I update ISS Expres applicationhost.config file.
[code]

Also is possible tu be USER logged automaticly by windows logOn ? THANKS!

[2015-11-19 21:04] MohammadYounes commented on #30
Are you using VS2015 ?
If yes, updating the one inside **$:\Users\{username}\Documents\IISExpress\config** won't do, you need to update the one located at **$(SolutionDir)\.vs\config**.

Thanks

[2015-11-19 21:07] MohammadYounes commented on #30
For Auto Windows login, follow the steps mentioned [here](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443).

[2015-11-20 08:07] Klainer commented on #30
Works, but last problem is that, when I logout and signIn by form it cause redirection LOOP ERR_TOO_MANY_REDIRECTS... So i canot login.

[2015-11-20 12:43] MohammadYounes commented on #30
I tested this and I got no such error! Did you enable anonymous authentication ?

[2015-11-20 20:35] Klainer commented on #30
Ok, I explain it more. I setup ato sign on, like you posted. Ifter that I created user in DB Table Abp.User, when I start application, I´m I´m automaticly logged, so I click to log off button in rigth top menu and ˇim traing to log on by windows button and I got ERR_TOO_MANY_REDIRECTS ERROR. When i start APP again from VS by ctrl+f5, I got this ERROR too. Also I notice that Sometines it log me / s

[2015-11-21 01:19] MohammadYounes commented on #30
Using same setup as yours, here is the project I tested with (http://1drv.ms/1X3Hp6d)

[2015-11-21 17:56] Klainer commented on #30
Ok, I tested your code on another computer with WIN7, but the same problem. After first startUp it show me Registration form, I register by windows pass/name. And after reopen page is redirection LOOP.
I´m not sure what or how it work to you so I prepred sample VIDEO of my problem:
https://mega.nz/#!uN8QSZiR!G30AjQ5lKY6N3j1LQHTx7V6S7VlIhO5xj67C3aoOflU
Also i prepared sample demo wit your changes:

[2015-11-21 18:09] MohammadYounes commented on #30
@Klainer can you join me here https://gitter.im/MohammadYounes/OWIN-MixedAuth ?

[2015-11-22 11:32] Klainer commented on #30
Hello, I have last question, if it is possible. In my local IIS express server everythink works OK thnaks to you. But application will be host on IIS SERVER, and will be use as intranet page for company. So only employes with their company notebooks will be automaticly logged when start this application. I deployed app on company IIS I have again this redirection loop problem. So it is necessarily

[2015-12-11 16:28] Saquibadil opened #31 "SID can change"
Hello,

Since in the UserLogin table we are recording the SID of the user, I did a search to see if the SID can change in the active directory for a user. According to this article, it can

https://blogs.msdn.microsoft.com/oldnewthing/20141128-00/?p=43513/

Do you have anything in place that checks the history of SID?

Thank you!
Saquib

[2015-12-11 17:46] MohammadYounes commented on #31
Currently no,  I'll into it.

[2015-12-11 19:44] MohammadYounes commented on #31
As far is OWIN-MixedAuth is concerned, the user is authenticated. Now, in case SID gets changed, it's up to the application to handle it.

You'll need to get the SID History and add to the custom claims [here](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/App_Start/Startup.Auth.cs#L82), Then deal with it in the account controller [`ExternalLoginCallback`](https://github.com/

[2015-12-11 19:44] #31 closed

[2016-01-06 15:58] ahmadasfour opened #32 "SSO with Mixed Auth."
Dear Mohammad,

Kindly I want to ask the following questions:

1. If it is possible to use the mixed auth. along with SSO when login as windows and how?
2. I am using mixed auth on MVC, and I need to always log in as windows without the need to click the button, and this is applicable to open any controller/action and the system to get the windows identity, the same behavior when using Windows aut

[2016-01-07 19:19] MohammadYounes commented on #32
Hello Ahmad,

Yes, if you SSO server support any OWIN authentication provider, you should be able to use OWIN-MixedAuth in a similar manner.

As for the 2nd point, see this [comment](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443)

Thanks!

[2016-01-07 19:19] #32 closed

[2016-01-08 16:44] TrabacchinLuigi commented on #26
Can i cooperate in trying to do this ?

[2016-01-08 16:45] MohammadYounes commented on #26
Sure thing :+1:

[2016-01-09 19:12] ahmadasfour commented on #32
Thanks a lot for the reply Mohammad, for the SSO, would you please advise for the steps needed to plugin the mix auth. to SSO if any. Thanks.

[2016-01-09 19:21] MohammadYounes commented on #32
There is no specific steps, it depends on your SSO implementation and whether it supports OWIN providers or not!

[2016-01-10 07:33] ahmadasfour commented on #32
Thanks a lot :)

[2016-01-10 10:55] ahmadasfour commented on #32
Another question please, is the mixed auth. supports the claims identity and how can use it?

[2016-01-10 10:58] MohammadYounes commented on #32
Yes it does, What do you mean by how to use it! Can you be more specific ?

[2016-01-10 20:35] ahmadasfour commented on #32
I have an MVC controller, calling WebApi controller ( login action ), and I want to use mixed auth. would you please advise how I can login to WebApi when the user login as windows (i.e. how to send windows credentials to WepApi login action). Thanks.

[2016-01-10 20:47] MohammadYounes commented on #32
You need to hit the authorize end point to get an access token, then use it along with your Api calls. See the sample project named [SPA](https://github.com/MohammadYounes/OWIN-MixedAuth/tree/master/src/SPA) (The access token is retrieved [here](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/SPA/Scripts/app/app.viewmodel.js#L40-L53) and the Authorize end point is defined [here](h

[2016-01-10 22:35] WilliamDoman opened #33 "Missing View?"
Sorry, I'm not sure where the windows login button comes from in the MVC project. What am I not understanding?  Is there a missing view?

Thanks!

[2016-01-10 23:19] TrabacchinLuigi commented on #33
you have to configure the project then in the default login window (the one from the mvc template) you'll have a login button for every authentication provider

[2016-01-10 23:27] WilliamDoman commented on #33
Thanks.

I was a little confused because the button for Windows is off to the side in the picture.

[2016-01-11 07:51] ahmadasfour commented on #32
You mean I need to hit an Api controller to generate a token, if yes, based on what I want to generate it, actually I am using AspNetIdentity on the business logic layer, the BL is called by Api, and we are going to support forms and windows login, so, the login is done through Api, not MVC, our architecture was  to be able to remove the UI layer without effecting anything, so, there is no any dep

[2016-01-11 08:29] MohammadYounes commented on #33
All authentication providers will appear to the side, the list is generated by [this view](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Views/Account/_ExternalLoginsListPartial.cshtml)

[2016-01-11 08:29] #33 closed

[2016-01-11 08:45] MohammadYounes commented on #32
In both case you need to generate an access token, For forms authentication you need to use `Password Login Flow` on the [token endpoint](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/SPA/App_Start/Startup.Auth.cs#L25) and for windows authentication you need to use `External Login Flow`  on the [authorization endpoint](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master

[2016-01-11 15:13] TrabacchinLuigi commented on #26
Ok I've investigated a bit.
It appears that it does not make sense to target DNXCore, since it is a subset of .net framework who is operating system agnostic (so it can run under windows, linux, or machintosh).
This project is clearly not operating system agnostic, so full framework can be targeted and be required.
Said so, i will re-enable full framework dependencies, and further investigate how

[2016-01-12 18:36] pcbHikeME opened #34 "To get this working with VS2015 and IIS Express..."
with VS2015 the applicationHost.config file is also present in $(solutionDir).vs\config\applicationhost.config

See my post on Stack Overflow: http://stackoverflow.com/a/34751250/2788458

[2016-01-12 18:39] MohammadYounes commented on #34
It's already mentioned in the [readme](https://github.com/MohammadYounes/OWIN-MixedAuth#iis-express)!

[2016-01-12 18:39] #34 closed

[2016-01-12 19:38] MohammadYounes commented on #34
@pcbHikeME I updated the [README](https://github.com/MohammadYounes/OWIN-MixedAuth#iis-express) to state the location more clearly.

Thanks.

[2016-01-12 19:47] pcbHikeME commented on #34
Thanks for that update, @MohammadYounes.  Yes, I followed the original instructions for location of applicationhost.config but it still would not work - because of the file's presence at the solution level as well

[2016-01-12 20:04] MohammadYounes commented on #34
In case you have VS2015 you only need to update the one inside `.vs` folder

[2016-01-13 07:42] ahmadasfour commented on #32
Thanks a lot Mohammad. appreciated. I will check and come back to you.

[2016-01-20 19:58] pcbHikeME opened #35 "Login with Windows and store claims in Cookie, no database"
Mohammad- this is great stuff you have here.  I've been trying to modify your approach to really not use asp.net identity database, just authenticate a windows user and put claims in a custom cookie. And in addition if the user is already logged into Windows, don't prompt for credentials.  I took your suggestions in #8 and got that working, so now I'm trying to exclude all the db parts.  My proble

[2016-01-20 20:24] MohammadYounes commented on #35
Although the samples are using a database, but the provider is db free!

`GetExternalLoginInfoAsync` returns null if no external cookie is available! Can you share a sample ?

[2016-01-20 21:05] pcbHikeME commented on #35
Here's my ConfigureAuth (sorry - not sure why inline code not working)
`public partial class Startup
    {
        public void ConfigureAuth(IAppBuilder app)
        {
            CookieSecureOption cookieSecure = CookieSecureOption.SameAsRequest;
            if (Configurator.SpectrumAuth.UseSsl)
            {
                cookieSecure = CookieSecureOption.Always;
            }

            var

[2016-01-20 22:15] pcbHikeME commented on #35
Mohammad-
I found the problem.  This line `app.SetDefaultSignInAsAuthenticationType(CookieAuthenticationDefaults.AuthenticationType);` in the Startup.Auth.cs needed to be:
`app.SetDefaultSignInAsAuthenticationType(cookieOptions.AuthenticationType);` to use my custom cookie!

[2016-01-20 22:19] MohammadYounes commented on #35
Thanks for the feedback!

[2016-01-20 22:19] #35 closed

[2016-01-26 20:39] meister-d opened #36 "401 with Ajax and Css Calls"
Hi Mohammad, like engenb on the MVC5-MixedAuth I experience Issues with 401 errors while loading javascript and css files. In our Lab this issue does not bother, but on client side for every script the user is promted to login with username and password after logging in with Mixed auth. After something like 20 login forms he finally sees the correct website and can proceed. (On Client Side the App

[2016-01-27 09:02] MohammadYounes commented on #36
Hi,

The Paths you listed are excluded from authorization (not authentication).

What's the Authentication mode of your app ? Also in your IIS, is Anonymous authentication enabled ?

[2016-01-27 10:25] ssteiner commented on #36
In IIS, we have anonynmous enabled, and windows auth enabled (with negotiate first, ntlm second).
here's the relevant rest of the web.config

  <location path="MixedAuth">
    <system.webServer>
      <security>
        <authentication>
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
      <httpErrors errorMode="Custom">
        <remove statusCode="40

[2016-01-27 10:46] MohammadYounes commented on #36
The relevant part would be `<system.web>` section, similar to [here](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Web.config#L21)!

[2016-01-27 11:14] ssteiner commented on #36
Hmm.. that part somehow didn't make the copy/paste. Here it is

      <system.web>
        <authentication mode="None" />
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <globalization enableClientBasedCulture="true" uiCulture="auto:en-US" culture="auto:en-US" />
      </system.web>

[2016-01-27 11:15] MohammadYounes commented on #36
Can you join me here https://gitter.im/MohammadYounes/OWIN-MixedAuth ?

[2016-02-12 21:27] MohammadYounes commented on #36
Try to exclude them explicitly in your virtual host config:

[code]

[2016-02-15 09:04] kamranbashir opened #37 "using MVC : cannot login using windows button click"
1. Start up project MVC in OWIN-MixedAuth
2. windows login button clicked
3. showing HTTP Error 500.19 - Internal Server Error
4 .when i chekced in ExecuteResult, userid is coming null.same issue in MVC5-MixedAuth
thanks,

[code]

[2016-02-15 09:09] MohammadYounes commented on #37
Most likely you got the error 500.19 because you didn't unlock the windows authentication section as described in the [README](https://github.com/MohammadYounes/OWIN-MixedAuth#running-the-samples)

Check the steps again and confirm!

[2016-02-15 09:29] kamranbashir commented on #37
1.Set Authentication - Windows to Read/Write -done
2. <section name="windowsAuthentication" overrideModeDefault="Allow" /> - done

i assume reset are pre configured in ur example.

but still
HTTP Error 500.19 - Internal Server Error

only ur MVC5-MixedAuth works stratight away!
brother can u pls put only mvc working code.
thanks,

[2016-02-15 09:33] MohammadYounes commented on #37
Can you provide the details for the 500.19 error ?

[2016-02-15 09:34] kamranbashir commented on #37
Detailed Error Information:
Module	   WindowsAuthenticationModule
Notification	   AuthenticateRequest
Handler	   ExtensionlessUrl-Integrated-4.0
Error Code	   0x80070021
Config Error	   This configuration section cannot be used at this path. This happens when the section is locked at a parent level. Locking is either by default (overrideModeDefault="Deny"), or set explicitly by a location tag with

[2016-02-15 09:39] MohammadYounes commented on #37
Yup the section is still locked, are you using VS2015 with IIS Express ?

[2016-02-15 09:43] MohammadYounes commented on #37
You need to follow IIS Express config steps as described [here](https://github.com/MohammadYounes/OWIN-MixedAuth#iis-express)

[2016-02-15 10:08] MohammadYounes commented on #37
Feel free to reopen if following the steps  didn't resolve the issue. Thanks!

[2016-02-15 10:08] #37 closed

[2016-02-15 11:34] kamranbashir commented on #37
gave up :(

thanks

[2016-02-15 11:35] MohammadYounes commented on #37
Why ? Join me here https://gitter.im/MohammadYounes/OWIN-MixedAuth

[2016-02-15 11:38] kamranbashir commented on #37
finding it too hard.
do u live in pakistan

[2016-02-15 11:39] MohammadYounes commented on #37
No, Why don't you join the chat? I'm trying to help you!!

[2016-02-15 11:43] kamranbashir commented on #37
if u r in uk we can do team viewer.

[2016-02-15 11:44] MohammadYounes commented on #37
send me your ID/PWD

[2016-02-15 11:45] kamranbashir commented on #37
not now, not allowed in office
in evening

[2016-02-15 11:45] kamranbashir commented on #37
is that ok?

[2016-02-15 11:45] MohammadYounes commented on #37
Ok

[2016-03-03 09:20] ahmadasfour commented on #32
Dear Mohammad,

I have a case here, that is, I need when run a new IE session, and then click on windows button to display the windows login dialog not to login as the user previously logged in (saved by the cookie).
would you please advise.

Thanks.

[2016-03-03 09:31] MohammadYounes commented on #32
See #4

[2016-03-03 09:32] MohammadYounes commented on #32
Also [this comment](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/15#issuecomment-93966215) :)

[2016-03-16 14:59] Leon-O opened #38 "AD: users and groups"
Can you bring an example of the settings we must set to get the users and groups from AD? I having problems with this.

[2016-03-16 15:08] MohammadYounes commented on #38
Not sure I understand your request! Would you please clarify ?

Also check #9

[2016-03-18 14:14] Leon-O commented on #38
Thanks for the reference. I would like to know if is possible to implement Role based authorization, using the AD groups as roles, that's why I want to get all the groups from AD.

[Authorize(Roles="Administrators")]

[2016-03-18 14:30] MohammadYounes commented on #38
Yes, as long as you convert them to role claims:
[code]

Also see this [discussion](https://github.com/MohammadYounes/MVC5-MixedAuth/issues/3).

[2016-03-18 14:30] #38 closed

[2016-03-18 14:31] Leon-O commented on #38
Perfect, thanks.

[2016-03-29 13:44] MartyBJones opened #39 "Question"
I have incorporated your code and everything is working great in the test environment.  I can authenticate local users via AD and external users via Forms authentication.  The problem comes into play when I deploy to production environment.  The production web server is within a DMZ and does not have direct access to Active Directory.   Is there a way I can still gather the user's windows informat

[2016-03-29 14:14] MohammadYounes commented on #39
The code relies on IIS integrated authentication to get the user identity, For IWA to work, IIS must be a member of Active Direcroty. If you are trying to pull more info from active directory, You could do that while [importing custom claims] (https://github.com/MohammadYounes/OWIN-MixedAuth#importing-custom-claims).

[2016-03-29 14:17] MartyBJones commented on #39
I guess this will not work for me.  The problem is that IIS is running as a local user account on the web server (inside of DMZ).  It does not have access to the corporate AD.  I was hoping I could shift the concern to a WCF service but it sounds like with the IIS server having access to the AD then this will not work.

[2016-03-29 14:26] MohammadYounes commented on #39
Yup, I guess this is why it's called integrated :)

[2016-03-29 14:26] #39 closed

[2016-04-01 21:12] pcbHikeME opened #40 "500 on MixedAuth?state="
Mohammad-  Very much appreciate this work.  I am using the integrated auth variation and have it working on one IIS server but cannot get it on the other.  I keep getting a 500 Error when the code tries to invoke the URL below.  I have doubled checked all of the settings.  Nothing seems out of place.  Any ideas?
http://mysite/MixedAuth?state=KpFpRo_MKUxKgwFTkyaLv1ZVCjIn8Ox6e34ksTl7w9DX-7cSKfjKe8bC

[2016-04-01 21:16] MohammadYounes commented on #40
It's hard to tell, If possible try using the source code and set a break point [here](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/MixedAuthHandler.cs#L93).

[2016-04-01 21:27] pcbHikeME commented on #40
ok.  will try.  this is on a server so I will need to add some instrumentation to the source. (I cannot debug on server).  Are you saying this fragment should be true ?
Options.CallbackPath == Request.Path

[2016-04-01 22:02] pcbHikeME commented on #40
My tracing/logging shows that callback path is /MixedAuth  More thoughts?

[2016-04-01 22:04] pcbHikeME commented on #40
since it is returning 500 on http://mysite/MixedAuth?state= does that mean it's a server or config problem?

[2016-04-01 22:13] MohammadYounes commented on #40
May be, 500 is a very generic error. Any stack trace!

[2016-04-01 22:14] MohammadYounes commented on #40
The method will only execute when the paths are equal, I'm interested in what happens afterwards

[2016-04-01 22:18] MohammadYounes commented on #40
Moreover, Are you using a MixedAuth provider?

[2016-04-01 22:37] pcbHikeME commented on #40
I see that [here](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/MixedAuthHandler.cs#L206) is where that redirect is generated.  So I logged the URI and the redirectContext.Response.ReasonPhrase.  ReasonPhrase is Found.  URI looks like the one that is generating the 500

[2016-04-01 22:41] pcbHikeME commented on #40
Yes I am using your MixedAuth but am using the Autologin modification you suggested [here](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443)

[2016-04-01 22:45] pcbHikeME commented on #40
I do see this in the web.config at the servers root.  Could that be a problem?
`    <system.web>
        <identity impersonate="false" />
    </system.web>`

[2016-04-01 22:46] MohammadYounes commented on #40
The error is generated after the redirect. as for the impersonation, what you listed is the default, so it should not be a problem

[2016-04-01 22:49] MohammadYounes commented on #40
Can you confirm the windows authentication section is unlocked on the server ?

[2016-04-01 22:52] pcbHikeME commented on #40
showing you the snagit of the IIS feature deleg.  I restrted IIS After I set this (several hrs back)
![2016-04-01_18-50-11](https://cloud.githubusercontent.com/assets/10076004/14222119/d89df79a-f83a-11e5-8fbd-bb21a3d2400d.png)

[2016-04-01 22:53] MohammadYounes commented on #40
Any stack trace you can share ?

[2016-04-01 22:54] pcbHikeME commented on #40
I will have to leave this for now as it's quite late my time.  I will provide that in a couple of days.  Very much appreciate your help.  Thanks, Mohammad

[2016-04-01 23:06] pcbHikeME commented on #40
I think I just found the problem!  Options.CallbackPath != Request.Path  It looks like Request.Path is / and as stated above Options.CallbackPath is /MixedAuth   Where did I go wrong ?

[2016-04-01 23:11] MohammadYounes commented on #40
That's normal, as this method is invoked on each request. It's contents will only be executed if the paths are equal

[2016-04-04 16:13] pcbHikeME commented on #40
Yes, I see that.  But on this server, the paths are never equal (Request.Path never equals /MixedAuth), whereas on the server where it is functioning the equality does happen.  thoughts?

[2016-04-04 17:06] pcbHikeME commented on #40
checking handlers on non-working web server.  Do you think that could be a problem?

[2016-04-04 19:31] pcbHikeME commented on #40
there is no stack trace in .net because there does not appear to be any failure in the code.  I look at the  IIS log and I see that the sc-win32status code (after the 500.19) is 33, which is ERROR_LOCK_VIOLATION
33 (0x21)
The process cannot access the file because another process has locked a portion of the file

I am trying to get IIS tracing turned on but have not had any luck with that

[2016-04-04 20:00] MohammadYounes commented on #40
Have you tried [Troubleshooting HTTP 500.19 Errors in IIS 7](https://blogs.msdn.microsoft.com/webtopics/2010/03/08/troubleshooting-http-500-19-errors-in-iis-7/)?

[2016-04-04 20:25] pcbHikeME commented on #40
So i just looked at that and unfortunately I have less to go on than that.  See Screen shot below.  I believe that the request is not being handled by your MixedAuth code - that seems like the issue.  Which leads me to agree it's a IIS config error and probably handler problem - but I have tried shifting around the extension-less handlers without luck.  Cannot get tracing to log anything.  Maybe I

[2016-04-04 20:30] MohammadYounes commented on #40
Can't you set [customErrors](https://msdn.microsoft.com/en-us/library/h0hfz6fc%28v=vs.85%29.aspx) mode so the detailed ASP.NET errors are shown  ?

[2016-04-04 20:43] pcbHikeME commented on #40
SO if I do that whether it's mode="On" or "Off" I get the same error display as above.  So I think that shows us that the request is not even getting to ASP.Net, wouldn't you think ?

[2016-04-04 20:50] MohammadYounes commented on #40
Not sure, may be try with `<compilation debug="true"/>`, Can you join the [chat](https://gitter.im/MohammadYounes/OWIN-MixedAuth) ?

[2016-04-04 20:51] pcbHikeME commented on #40
Hmm, I wonder if this could be it ?   [IIS 7.5 handlers to handle requests whose URLs do not end with a period](https://support.microsoft.com/en-us/kb/980368)

[2016-04-04 20:54] MohammadYounes commented on #40
Give it a try!

[2016-04-04 21:15] pcbHikeME commented on #40
I give up.  Can't spend any more time on this. Clearly a config issue on that IIS Server.  Thanks for your time, Mohammad

[2016-04-04 21:19] MohammadYounes commented on #40
@pcbHikeME  You are most welcome, in case you find the reason behind this, please update me.

Thanks!

[2016-04-04 21:19] #40 closed

[2016-04-05 15:44] pcbHikeME opened #41 "Mixed Auth repeatedly request Windows creds"
Hi Mohammad-
I'm trying my approach based on [this comment](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443) on a new IIS (8.5) server and I get the following behavior.  Repeatedly asks for credentials and never works.  I have set Windows Auth to read/write.  What would cause this ?
![2016-04-05_10-39-47](https://cloud.githubusercontent.com/assets/10076004/14285901

[2016-04-05 17:27] MohammadYounes commented on #41
I can't tell, re-check your configuration! Also try providing full username (user@domain).

[2016-04-05 17:47] pcbHikeME commented on #41
Thanks, I'm giving up on this as well.  Seems to be a similar to [my prior issue](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/40).  I've done a lot of configuration work and can't find what's going on.

[2016-04-05 18:50] MohammadYounes commented on #41
Sorry I couldn't be of help, but without details my hand are tight. In case you find what's wrong with your setup, please update me.

Thanks.

[2016-04-05 18:50] #41 closed, assigned to nobody

[2016-06-27 07:58] ObrellusRex opened #42 "Getting the wrong user"
Hi,

I have an issue where everything works as it should in development and testing environments but our production system unfortunately gets user identity and groups for the AppPool user instead of the user accessing it.

All configurations related to authentication is matching. Are you able to point me in the right direction for further troubleshooting?

My other option is to rewrite/split the s

[2016-06-27 21:00] MohammadYounes commented on #42
Hi,

Does this happen to all clients trying to connect to the production server? Also does the same thing happen with the included samples?

Thanks!

[2016-06-30 19:23] Adam-78 opened #43 "Unable to link to an existing local account"
If a user already has a local account and they click the login with windows button, they are redirected to the 'Associate your windows account' page where they are presented with an input field to enter an email address.

When you enter an email address that is already registered with your local account, it throws error message:

  Name joe.blogs@yahoo.com is already taken.
  Email 'joe.blogd@yaho

[2016-06-30 21:28] MohammadYounes commented on #43
This is the MVC project template default behavior. If sign in using Windows account while not being logged in, The application will see you as a new user ([ExternalLoginConfirmation](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Views/Account/ExternalLoginConfirmation.cshtml)). It can't verify your ownership to both accounts as you are logged in with only one of them.

The o

[2016-06-30 21:28] #43 closed, assigned to nobody

[2016-07-07 01:55] Hals9000 opened #44 "Separate Owin-MixedAuth into MVC UI calling WebAPI Service"
Hi Mohammand,

I've successfully split your MVC-MixedAuth solution proof of concept into a MVC UI layer calling a WebAPI service to read the SQL identity database.
I'm having a few difficulties doing the same thing for your OWIN-MixedAuth solution.

Do you have any recommendation or advice ?

[2016-07-07 10:33] MohammadYounes commented on #44
I recommend you implement this in a custom `UserStore`

[2016-07-10 22:34] Hals9000 commented on #44
So the UserStore must pass around the web context ?
It was easier using the MVC5-Mixed auth proof of concept as we could have a base controller that understood the WebAPI interface it was calling.

[2016-07-11 05:39] MohammadYounes commented on #44
You'll need to use a web client to make the API calls. Not sure how did you implement it, but the UserStore will act as a data access layer.

[2016-07-12 05:46] stratdaz opened #45 "Claim (roles) Problem"
I'm trying to add a role (AdminRole) and secure `Get()` in the `MeController` with ...

[code]

I'm adding the role here ...

[code]

I'm using the windows login option and it seems that the role is being added to my domain identity user with the name _MYDOMAIN\MyUserName_ and `AuthenticationType` "".

But in the `AccountController` ...

[code]

The `ClaimsIdentity` is not the same identity that t

[2016-07-12 18:31] MohammadYounes commented on #45
Hi,

This is the default behavior, Imported claims will be added to the claims list of the external identity (windows identity, Not the local identity).

Upon user registration or account linking you need to read those claims and save them along the local user identity claims.

Thanks!

[2016-07-12 18:31] #45 closed, assigned to nobody

[2016-07-13 08:39] SoaresMG opened #46 "Always asking for credentials"
Hi again,

I'm getting a weird problem.
So, one of my clients have two systems:
- Production (Cluster w/ Load Balancer)
- Development (1 VM)

In the development system we had some problems but it was resolved through feature activation (Windows Identity Foundation, Security -> Windows Authentication, and more).

However, on Production we have a weird problem.
When opening the website it asks for c

[2016-07-13 10:21] MohammadYounes commented on #46
Hi, Have you synchronized the `machinekey` between all servers ?

[2016-07-13 10:39] LESARQ commented on #46
Are you talking about Load balancer? Between the cluster servers?
Our customer has the cluster working with more applications and we don't have access to those type of configurations.

[2016-07-13 10:52] SoaresMG commented on #46
I see, probably no.
But, isn't it generated for each application if you set it at IIS Server level?

[2016-07-13 10:54] MohammadYounes commented on #46
May be this would help https://blogs.technet.microsoft.com/askds/2011/08/09/kerberos-and-load-balancing/

[2016-07-13 11:05] SoaresMG commented on #46
I'll call the customer today or tomorrow and will test this with him.
I'll give you feedback asap.

Thank you

[2016-07-14 05:07] stratdaz commented on #45
Thanks Mohammad,

Wish I had as good an understanding of authentication as you but I don't. I've been looking for a solution to my problem for a while now and stumbled across your project thinking it would be the answer.

My situation ...

I have a web app running on an intranet. All users are members of the domain, we use windows authentication and everything works great.

Now we have users exter

[2016-07-14 10:27] SoaresMG commented on #46
Ok, we synchronized the machine keys and it still doesn't work

[2016-07-14 10:39] SoaresMG commented on #46
It's working now. There was some problem with _Negotiate_ so we just moved _NTLM_ above _Negotiate_ and it started working.

Thank you again for your time. :smiley:

[2016-07-14 10:39] #46 closed, assigned to nobody

[2016-07-15 11:46] MohammadYounes commented on #45
@stratdaz In essence a mixed mode is a cookies authentication with a windows authentication entry point, once the user gets passed it, the normal cookies authentication flow takes place.

Similar to other authentication providers, such as Google, Twitter ... etc. OWIN-MixedAuth is a simple windows authentication provider that authenticates using IIS Integrated Windows Authentication (IWA) which pr

[2016-07-15 11:48] MohammadYounes commented on #46
Thanks for the feedback!

[2016-07-18 00:16] stratdaz commented on #45
Thanks for the extra detail.

I now have my own ApplicationDbContext, ApplicationUser, ApplicationUserManager and ApplicationSignInManager.

Have configured OAuth with a login path of ...
LoginPath = new PathString("/Account/WindowsLogin") ... to automatically sign in AD users.

Also AccountController has an "AutoLogin" method to automatically sign in external users and is referenced in a 401.html

[2016-07-18 08:16] MohammadYounes commented on #45
Thanks for the feedback!

[2016-07-21 01:52] Hals9000 commented on #44
As part of the UserStore calling the WebApiAuthService, I also need to secure the WebApiService (resource) with Bearer tokens.
We are building a Template Solution for multiple projects to use.
I still don't have a successful implementation for the UserStore working correctly.

[2016-07-22 12:26] MohammadYounes commented on #44
May be this would help https://aaronparecki.com/2012/07/29/2/oauth2-simplified

[2016-08-09 07:05] nityadao opened #47 "how to get the current login user details from home controller"
Hello Mohammad,

I have problem in getting current login user details from home controller in both the cases ( form + windows authentication).

thanks

[2016-08-09 07:34] MohammadYounes commented on #47
Hello,

What kind of problem ? What's the value of `User.Identity` ?

Thanks!

[2016-08-09 08:03] nityadao commented on #47
Hello,

User.Identity is present but when i am using UserManager.FindById(User.Identity.GetUserId()); then its show me Object reference not set to an instance of an object message. and User.Identity.GetUserId() is also present.

public ApplicationUserManager UserManager
        {
            get
            {
//error shows at this location
                return _userManager ?? HttpContext.GetOwin

[2016-08-09 08:12] MohammadYounes commented on #47
Too many objects involved in your call, which one is the `Null` one ?

[2016-08-09 08:17] nityadao commented on #47
error at this line
return _userManager ?? HttpContext.GetOwinContext().GetUserManager<ApplicationUserManager>();

[2016-08-09 09:08] MohammadYounes commented on #47
Can you join here https://gitter.im/MohammadYounes/OWIN-MixedAuth ?

[2016-08-09 10:23] MohammadYounes commented on #47
Did you initialize the User Manager in your app start ?

[code]

[2016-08-09 12:52] MohammadYounes commented on #44
Closing as this is out of scope of this repo.

Thanks!

[2016-08-09 12:52] #44 closed, assigned to nobody

[2016-08-09 12:52] MohammadYounes commented on #42
Closing due to lack of info.

[2016-08-09 12:52] #42 closed, assigned to nobody

[2016-08-10 11:25] Adam-78 opened #48 "500 - Internal server error after deploying to production?"
Hi,

I've installed the OWIN-MixedAuth to an MVC application and it work fine on my local machine using IIS Express.

However after deploying to production server I get 500 - Internal server error?

The site is deployed to a folder called `mysite` which is configured as an application as follows so bascially it inside its own app pool:

xyx.domain.com/mysite

My web config file is as follows:

 `

[2016-08-10 11:28] MohammadYounes commented on #48
Have you [unlocked](https://github.com/MohammadYounes/OWIN-MixedAuth#iis) Windows Authentication section ?

[2016-08-11 11:45] Adam-78 commented on #48
Hi,
Still awaiting a screenshot from our server team to determine exactly what delegation mode has been configured - I did ask them enable windows auth as follows:

Set Authentication - Forms to Read/Write
Set Authentication - Windows to Read/Write
Change the app pool from classic mode to integrated pipeline mode

Does anonymous authentication need to be disabled as well?

[2016-08-11 11:57] MohammadYounes commented on #48
Hi,

No, Also there is no need to unlock the Forms authentication section.

[2016-08-11 12:11] Adam-78 commented on #48
With anonymous authentication enabled, windows authentication doesn't work. To configure Windows auth on IIS you need to disable anonymous authentication. But once you do that how can a unauthenticated reach the signin page?

[2016-08-11 12:18] MohammadYounes commented on #48
That's why we unlocked the section, so we can enable Windows authentication for a sub-path - the MixedAuth endpoint only.

[code]

[2016-08-11 13:33] Adam-78 commented on #48
I've managed to get it working.

This was the issue, my site is located at `xyz.domain.com/mysite` but in my webconfig I have the path as `<location path="MixedAuth">`

It should have been `<location path="MySite/MixedAuth">`. So basically it was redirecting to `xyz.domain.com/MixedAuth` instead of `xyz.domain.com/mysite/MixedAuth`

Many thanks for your help.

[2016-08-11 13:37] MohammadYounes commented on #48
Awesome, Thanks for the feedback!

[2016-08-11 13:37] #48 closed, assigned to nobody

[2016-08-17 10:07] MohammadYounes commented on #47
Closing due to lack of info.

[2016-08-17 10:07] #47 closed, assigned to nobody

[2016-08-25 03:58] jckh1234 opened #49 "Imported Claims not found"
I run the sample program. In the Start.Auth.cs , it have add additional claims of EmailAddress, Surname and Givename at the OnImportClaims.

However , when I set a break point at the controller method, I don't found these 3 additional claims.

It only have four claims, that are "nameidentifier", "name", "identiyprovider" and "AspNet.Identity.SecurityStamp"

[2016-08-25 05:35] MohammadYounes commented on #49
Hi,

This is the default behavior, Imported claims will be added to the claims list of the external identity (windows identity, Not the local identity).

Upon user registration or account linking you need to read those claims and save them along the local user identity claims.

Thanks!

[2016-08-25 05:35] #49 closed, assigned to nobody

[2016-08-31 12:49] bdongus opened #50 "GetUserId() returns null in ManageController"
Hi there.
I have a strange issue. Locally with VS2015 on Win10 everything works fine.

Installing everything on a Windows 2008 R2 server, within an AD domain, logged in users have no user id.

Setting a break point User.Identity is a ClaimsIdentity locally. This works. On the W2008R2 server it is a WindowsIdentity returning null as user id. The NameIdentifier claim is missing.

And I have no idea

[2016-08-31 14:40] MohammadYounes commented on #50
Looks like a problem with you Sign In logic, `ManageController` requires authorization, as such the identity should be a ClaimsIdentity.  In MixedAuth the WindowsIdentity is only used to create the ExternalIdentity.

How did you configure the application authentication? Did you enable the IWA for the MixedAuth endpoint only (as described in the README) ?

Did you try running the samples on the W20

[2016-09-01 04:16] bdongus commented on #50
The IIS delegation config has an additional entry: Standard - Read-Only

My auth cnfiguration:

[code]

web.config contains this in system.web:

and this:

[code]

I didn't try the samples yet. Working on it.

[2016-09-01 05:21] bdongus commented on #50
Okay. I got it solved.

Mislead me to set

Setting the mode to "None" did the trick. Why this isn't an issue on my local machine? No clue, but it doesn't matter.

Thank you for your quick answer.

[2016-09-01 05:21] #50 closed, assigned to nobody

[2016-09-01 10:59] MohammadYounes commented on #50
Thanks for the feedback!

[2016-09-13 13:39] TrabacchinLuigi commented on #49
in the default asp.net project template you can find in the `AccountController.cs`  a function called `ExternalLoginCallback(string returnUrl)`
in there you have:
`var loginInfo = await AuthenticationManager.GetExternalLoginInfoAsync();`
this variable holds the claims that have been imported.
 and you can find the user by doing:
`var user = await UserManager.FindAsync(loginInfo.Login);`
I suggest

[2016-09-23 08:50] MyronJi opened #51 "I got some problems with DatabaseFrist"
The sample works very well.
And I have a program that uses a database first, and now needs to be added to the authentication.
But when I change the connectionString
Like this:

`<add name="DataFirstEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1

[2016-09-23 11:34] MohammadYounes commented on #51
Error seems related to your EF not recognizing the model `IdentityUserLogin`, see the following SO posts:
-  http://stackoverflow.com/questions/23893710/the-entity-type-applicationuser-is-not-part-of-the-model-for-the-current-context.
-  http://stackoverflow.com/questions/20688922/the-entity-type-type-is-not-part-of-the-model-for-the-current-context

Thanks!

[2016-09-24 17:17] MyronJi commented on #51
Thank you very much for your reply！

I fix the error by creating a standard connection string that pointed to the database where the ASP.NET Identity tables are.
[http://stackoverflow.com/questions/23893710/the-entity-type-applicationuser-is-not-part-of-the-model-for-the-current-context](url)

[2016-09-24 17:26] MohammadYounes commented on #51
Great, Thanks for the feedback!

[2016-09-24 17:26] #51 closed, assigned to nobody

[2016-09-25 13:49] SolarStorm50 opened #52 "Automatic Login if AD Account exists?"
Im new to using AD as an authentication provider.  I would be most grateful if you had any guidance as to how to implement this to automatically login if the user has an AD account?

IE what I am trying to do is:
1.  Attempt a login using windows authentication automatically.
2.  If they dont have a windows ID, show the login screen.

Thanks for sharing this solution

[2016-09-25 14:26] MohammadYounes commented on #52
Follow the steps in  https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443. Let me know if you need further assistance!

[2016-09-26 01:41] SolarStorm50 commented on #52
Perfect!  If I can ever buy you a beer, I owe you a couple!  Thanks

[2016-09-26 01:41] #52 closed, assigned to nobody

[2016-10-11 18:32] DanPFW commented on #52
Could you please describe how to do this with WebForms rather than MVC.  Thanks

[2016-10-11 18:45] MohammadYounes commented on #52
@DanPFW Same steps, but instead of a WindowsLogin action, you need a WindowsLogin page

**1. Startup.Auth.cs**: Change `LoginPath` to point to Windows Login Page

[code]

**2. WindowsLogin.aspx.cs**: On `PageLoad` request the windows challenge.

[code]

[2016-10-13 14:07] DanPFW commented on #52
This is great, I've updated your sample WebForms site, however, I'm having 2 issues.  First, I'm getting an error related to ReturnUrl in the PageLoad code, and I'm not able to get the code to automatically authenticate.  I've included the 401.html page and tried disabling the anonymous access, but the code will not run.  thanks

[2016-10-13 16:14] MohammadYounes commented on #52
For the ReturnUrl, you'll need to read it from the query `Request.QueryString["ReturnUrl"]`.

Have you followed all steps ?

[2016-10-13 18:55] DanPFW commented on #52
yes, I've double checked my code, but when I start the app, i still see "Log in" at the top, rather than my AD user name.  Maybe I'm missing something simple.  thanks
1. Startup.Auth.cs:

[code]
1. WindowsLogin.aspx.cs:

[code]
1. 401.html:

[code]
1. Web.config:

[code]

[2016-10-13 19:00] MohammadYounes commented on #52
Yes, this is the normal behavior, you will be automatically signed in once you request a page that requires authentication. For example: navigate to `/Account/Manage`.

[2016-10-17 15:08] DanPFW commented on #52
Looks like I got it working, thanks for all your help.

[2016-10-20 17:11] mfarooq2000 commented on #26
Are you guys working to make this available for ASP.NET Core (ASP.NET 5 / MVC6)?

[2016-10-21 18:52] MohammadYounes commented on #26
@mfarooq2000 No time my friend :(

[2016-10-25 09:11] TrabacchinLuigi commented on #26
same here. the big question is, will ever be useful / make sense to have a "windows authentication bridge" on a system agnostic project ?

[2016-11-15 08:56] MrBeezel opened #53 "Error 500.19"
Hello,
I'm trying to use the SPA example but every time I try to authenticate through windows authentication I get the same error 500,19. I have configured IIS Express as you indicate but still the error persists.
Any idea what the cause might be?

Thanks for your support.

[2016-11-15 09:27] MrBeezel commented on #53
Ok, i just find the cause. I forgot to enable windows authentication in visual studio properties.
Anyway, thanks for all.

[2016-11-15 10:51] MohammadYounes commented on #53
Thanks for the feedback.

[2016-11-15 10:51] #53 closed, assigned to nobody

[2016-11-15 11:46] MrBeezel opened #54 "Authenticate against API from windows app"
Hello,
I have been using the ASP example and I have a question
How can I get the API access token from a windows application? I know that in another email you told me that the Authorize end point is defined in /Account/Authorize but whenever I send a request to that path I get an error 400.

Thanks.

[2016-11-15 12:29] MohammadYounes commented on #54
400 indicates a bad request, seems you didn't include all [required parameters](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/SPA/Scripts/app/app.viewmodel.js#L51).  The `client_id` should match the defined [ApplicationOAuthProvider public client Id](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/SPA/App_Start/Startup.Auth.cs#L21)  and the `response_type` shoul

[2016-11-16 09:43] MrBeezel commented on #54
Thanks, I got it to authenticate and get the corresponding token but I have located another problem. When I attempt to authenticate from outside the AD (for example, from a local account), it authenticates me instead of denying me access. Why does this happen?

[2016-11-16 10:28] MohammadYounes commented on #54
Under which flow/account ?

Moreover, what do you mean by:

[2016-11-16 10:47] MrBeezel commented on #54
Sorry for not being too clear.
The situation is this:
I have created an example windows application that only tries to authenticate against the API using its AD credentials.
When I run this application from a user account belonging to an AD, it authenticates me and gives me the corresponding token. But if I do the same from another user account that does not belong to that AD, it authenticates me

[2016-11-16 10:48] MohammadYounes commented on #54
Can you join here https://gitter.im/MohammadYounes/OWIN-MixedAuth ?

[2016-11-16 10:59] MrBeezel commented on #54
Yeah, but right now I have to get out so you mind if we continue later?

[2016-11-16 11:02] MohammadYounes commented on #54
Not sure if I will be available. Anyhow, It would be great if you could share a sample project presenting your scenario.

[2016-11-17 09:36] MrBeezel commented on #54
Hi!
I finally discovered the error. It was a configuration problem in my application that I already solved. Thank you very much for everything.
Just one more question,
Is it possible, in Windows Authentication mode, to get the name of the user who was authenticated? The idea is use that name to create the session in the web service instead of the email.
Again, thank you very much.

[2016-11-17 09:40] MohammadYounes commented on #54
Sure, you can read the name upon user registration and add it to user claims as described in [Importing Custom Claims](https://github.com/MohammadYounes/OWIN-MixedAuth#importing-custom-claims).

Thanks!

[2016-11-17 09:40] #54 closed, assigned to nobody

[2016-11-24 10:56] s-KaiNet commented on #26
@TrabacchinLuigi
I think that might makes sense if you are on windows and are able to use full framework.
For example I decided to build a web app on IIS with ASP.NET Core (I want to use brand new asp.net with all new cool features) and I want to use forms (cookies) and windows authentication.
I think valid scenario. But there are no middleware for asp.net core with mixed auth by now :(

[2016-11-24 11:34] TrabacchinLuigi commented on #26
Maybe it is possible using "Microsoft.AspNetCore.Server.IISIntegration" but still no time here

[2016-11-24 11:38] s-KaiNet commented on #26
Thanks, will take a look what is possible with `IISIntegration`

[2016-12-07 20:19] ajimr opened #55 "I manually deleted the windows authenticated user from AspNetUsers table then I try to login but application always prompt to register email even after second time email registration"
Hi Mohammad, Thanks for the precise source code, when I try to evaluate the application in order to use one of my application I have found  following issue. Please let me know what will be the problem

Step 1:
After successful windows login application prompt for register email id and then there is entry in the  AspNetUsers table.
Step 2:
Then my subsequent windows login i could able to enter the

[2016-12-07 20:38] MohammadYounes commented on #55
Hi,

I tried the scenario you described, and I was able to login normally, I wasn't able to reproduce Step 5.

I conducted my test on the samples included in this repo.  Try to check any modifications you've made.

Thanks!

[2016-12-07 20:55] ajimr commented on #55
Hi,

Thanks a lot for prompt response.

I am facing this problem only with windows Authentication.
I could use form authentication without any issue even after I delete the user from AspNetUsers table.

The following code return "Failure"
var result = await SignInManager.ExternalSignInAsync(loginInfo, isPersistent: false);

If I point different database ( I have another non-deleted database) it wo

[2016-12-07 20:58] MohammadYounes commented on #55
I can't reproduce this, can you join [here](https://gitter.im/MohammadYounes/OWIN-MixedAuth) ?

[2016-12-07 22:09] ajimr commented on #55
Thanks Mohammad for your timely response,  the issue is ,  I deleted the user data from AspNetUsers table but there is one more table AspNetUserLogins which has "deleted" user's data. once I deleted the data from second table, every thing works well. Thanks a lot Mohammad for helping me to identify the issue !:)

[2016-12-07 22:09] #55 closed, assigned to nobody

[2016-12-20 11:42] ajimr opened #56 "How do I limit the application authentication only for specific domain users in the windows login context."
Hi Mohammad,

How do I restrict the application access to specific domain users, since now any domain users  can access the application as a windows users.

Advance thanks
Ajith

[2016-12-20 12:41] MohammadYounes commented on #56
Hi Aji,

The easiest way would be to by add some logic inside the [ExternalLoginCallback](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Controllers/AccountController.cs#L333) action to allow/deny users.

Thanks!

[2016-12-20 12:55] MohammadYounes commented on #56
@ajimr  Scratch that configuration option, add your custom logic to the external login callback action.

[2017-01-26 13:10] meister-d opened #57 "500 internal Server Errror ?state=2BD4u......"
Hi Mohammad,
like in the Issue #40 I experience the same errors. As you stated I set the Breakpoint and saw, that there could be a Problem when the webpage is not in the "root" Directory.

My Webpage starts with following Url:

![websitesetup](https://cloud.githubusercontent.com/assets/7633269/22332228/11e8f460-e3d0-11e6-85b7-a0fcf1ac37f6.jpg)

If no modifications to the Callback Path are made I g

[2017-01-26 13:56] MohammadYounes commented on #57
Hi,

No need to modify the path, it will be [auto resolved](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/MixedAuthHandler.cs#L198-L202) to include your application base path.

Most probably, you don't have the windows authentication section unlocked as described in the [README](https://github.com/MohammadYounes/OWIN-MixedAuth#iis) which mi

[2017-01-26 15:20] meister-d commented on #57
Hi Mohammad,
thanx for your reply. You were right. I changed the  IIS Express Configuration to

[code]

Now it works.

Regards Dumitru

[2017-01-26 15:20] #57 closed, assigned to nobody

[2017-02-05 19:33] ajimr commented on #56
Ok Thanks.

[2017-02-05 19:35] #56 closed, assigned to nobody

[2017-02-05 19:38] ajimr opened #58 "Register windows users from backend"
Mohammad,

How do I register windows users from backend, since my scenario admin will register/create users from his machine (which he logged-in using his credential) using user console modules.

Advance thanks

[2017-02-05 19:51] MohammadYounes commented on #58
You can use `UserManager` to create local users account. Then, for each account add an external login matching the windows user account:

| loginProvider | providerKey |
| --- | --- |
| Windows | Windows User SID |

[2017-02-05 19:56] ajimr commented on #58
Thanks Mohammad

[2017-02-05 19:57] #58 closed, assigned to nobody

[2017-02-08 17:21] rezanos opened #59 "Windows/AD authentication for WebAPI and SPA+Mobile clients"
Hi Mohammad,

I'm developing an application with WebAPI REST server and an SPA web client (Angular2) —both are ASP.NET 4.6 which created by empty template and both use OWIN and hosted on IIS.

The requirement for Authentication is:

- Active Directory logged in user will authenticated automatically with no need to enter username and pass, if her user Id/name found in the application database (simp

[2017-02-08 22:41] MohammadYounes commented on #59
@rnaab A couple of things to note here:

1. When using auto-login, user can't really logout unless browser process is closed to clear the credentials cache. However, you may try this approach: http://signinas.codeplex.com/

2. If users will be entering AD credentials in the login page, Then this is a regular cookies authentication (The only difference is that you are validating against AD rather t

[2017-02-11 16:12] rnaab commented on #59
Thanks a lot for your help, Mohammad.

Let me to explain my idea and ask you for advise:

1. Idea for auto-login use case:
As you did in SPA project, user can click on Windows button (as an External login) to logon with her current AD credential, afterwards she can log out using the Log off button as well without clearing the browser's credentials cache. So why login page can't mimic auto-login by

[2017-02-11 16:28] rezanos commented on #59
Thanks a lot for your help Mohammad.

Let me to explain my ideas and ask you for advise:

1. Idea for auto-login use case:
As you did in SPA project, user can click on Windows button (as an External login) to logon with her current AD credential, afterwards she can log out using the Log off button as well without clearing the browser's credentials cache. So why login page can't mimic auto-login by

[2017-02-11 19:32] MohammadYounes commented on #59
What I meant was:

Using Windows authentication, when you logout, the browser will cache the windows credentials and clicking windows login will not prompt you for username/password - even if client settings are set to "Prompt for user name and password".

I haven't tried bearer token only setup before. Try it and let us know your findings!

[2017-03-13 12:50] Hainesy opened #60 "Custom Claims not available"
I'm following your example of how to add custom claims from the windows login. I can confirm the below code is correctly returning a claim:

[code]

Debugging reveals that DisplayName is being correctly set, however when I try to access this value in the view with `@ClaimsPrincipal.Current.FindFirst(CustomClaimTypes.DisplayName)?.Value` I get an empty string.

Am I missing another step that will c

[2017-03-13 18:53] MohammadYounes commented on #60
Imported claims will be added to the claims list of the external identity (windows identity, Not the local identity).

Upon user registration or account linking you need to read those claims from the external identity and save them to the database as part of the local identity claims.

[2017-03-14 09:30] #60 closed, assigned to nobody

[2017-03-17 04:49] lneninger opened #61 "Automatic redirect"
When I call the externallogin I receive several automatic redirects. The Action in the Api Controller is never reached

response
![capture](https://cloud.githubusercontent.com/assets/6623279/24028425/35b8fdc6-0aa5-11e7-8b90-4b32525cf4be.PNG)

cookieOptions
           var cookieOptions = new CookieAuthenticationOptions
            {
                AuthenticationType = DefaultAuthenticationTypes.Ap

[2017-03-17 10:50] MohammadYounes commented on #61
You need to enable anonymous authentication to allow unauthorized access to the login page.

[2017-03-18 10:35] lneninger commented on #61
Fix activating anonomous authetication

[2017-03-18 10:35] #61 closed, assigned to nobody

[2017-03-18 10:35] lneninger commented on #61
Thanks!!!

[2017-04-14 16:04] lneninger opened #62 "Enable external login via CORS"
I implemented mixed owin authentication succesfully using WebApi.
My new request is enable external login via CORS. For some reason the mechanism response a 401 when it reach **/MixedAuth?state=xxx**
Where is my call
[code]

Where is the /MixedAuth options request/response
![mixedauth_401](https://cloud.githubusercontent.com/assets/6623279/25047023/8d6cf108-2102-11e7-9a83-a0ccda828f9e.PNG)

Where

[2017-04-14 16:16] MohammadYounes commented on #62
For cross domain request you need to set `withCredentials` to `true`

[code]

[2017-04-14 17:50] lneninger commented on #62
Works as a charm!
You saved my project... once again!

Thanks

[2017-04-14 17:50] #62 closed, assigned to nobody

[2017-04-19 17:14] last-Programmer opened #63 "Restrict to set of windows users"
Hi,
With windows authentication i would like to restrict to set of windows users? Could you please let me know How to redirect to login page when the windows users belong to restricted windows user which i will load from a data store.

Thanks

[2017-04-19 17:24] MohammadYounes commented on #63
Hi,

See answer to a similar question [here](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/56#issuecomment-268233891).

Thanks!

[2017-04-19 17:25] #63 closed, assigned to nobody

[2017-04-19 17:35] last-Programmer commented on #63
HI,

Thank you for the reply. But i am not using the asp.net identity manager for authentication. I am using simple authentication like [https://www.codeproject.com/tips/849113/four-easy-steps-to-set-up-owin-for-form-authentica](url) and referencing your windows authentication dll. not sure how to do it if i only use your dll and not asp.net authentication methods.

[2017-04-19 17:44] MohammadYounes commented on #63
In theory it should be the same, restrict the users on Sign In. However, I read through the link you referenced and there is no mention of how/when to Sign In an external identity?

[2017-04-19 18:06] last-Programmer commented on #63
Thank you.

here is the sample project which i am using. Please let me know how i can do it here. Thanks

[OWINAuth.zip](https://github.com/MohammadYounes/OWIN-MixedAuth/files/936967/OWINAuth.zip)

[2017-04-19 18:38] MohammadYounes commented on #63
Looking at the project you provided, It's very basic and does not seem to support OWIN Authentication providers. I recommend to switching to asp.net default project template.

Thanks.

[2017-04-19 19:54] last-Programmer commented on #63
Thank you for your suggestion. But we want to use basic forms and Windows authentication only. We don't need the asp.net providers. At present we just use forms authentication but we want to migrate to owin simple owin forms authentication against our existing data store ( we don't need to add additional claims except nam). And also saw ur Windows authentication with owin and it is an additional s

[2017-04-22 06:50] MohammadYounes commented on #63
As I mentioned earlier, the easiest way is to incorporate such logic just before issuing the authentication cookie.

Since you already included OWIN, It will be much simpler to use its authentication providers.

[2017-04-24 08:40] last-Programmer commented on #63
Hi,

I managed to do it. It seems to be working fine with Google Chrome and IE. But Microsoft Edge and FIrefox browsers are displaying Authentication dialog for user Windows User name and password. Is this an expected behavior in these browsers?

Thank You

[2017-04-24 08:45] last-Programmer commented on #63
Hey Sorry i do did a bit search on this and found this firefox
https://liquidstate.net/enabling-ntlm-authentication-single-sign-on-in-firefox/
and it works.

But it seems to be that for Microsoft edge it is by design. Correct me if i am wrong..

Thank You

[2017-04-24 18:32] MohammadYounes commented on #63
Yes, It seems to be [by desgin](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4776775/).

[2017-06-02 18:54] arc95 opened #64 "Allow seamless logon for authenticated Windows users"
Hi and thank you, Mohammad, for this great library! I've downloaded your sample app and got it working on my localhost. A few questions:

- I don't need to have the Windows authenticated users assign/store their username on the database; I will fetch it using their login ID from a custom table on the database. Is it possible to disable this for Windows auth users?
- My usage scenario is this: If t

[2017-06-02 20:23] MohammadYounes commented on #64
For automatic windows login, Follow the steps in  https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443.

As for fetching the login ID from a custom table, you'll need to hook in to where the external identity is signed in and do your own logic there. For example, Account Controller [`ExternalLoginCallback`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/sr

[2017-06-02 20:23] #64 closed, assigned to nobody

[2017-06-02 20:28] arc95 commented on #64
Thanks, @MohammadYounes! I'll work on it. You're quick :)

[2017-06-02 20:32] arc95 commented on #64
A follow-up: Is there a way to fetch the user's AD roles after they're authenticated on Windows? I need to limit the app to a few AD groups. Thanks.

[2017-06-02 20:33] arc95 opened #65 "Get AD roles for Windows user"
Is there a way to fetch the user's AD roles after they're authenticated on Windows and limit the app to a few AD groups. Thanks.

[2017-06-02 20:35] MohammadYounes commented on #65
See #38. Thanks.

[2017-06-02 20:35] #65 closed, assigned to nobody

[2017-06-02 20:36] MohammadYounes commented on #65
A complete example can be found here https://github.com/MohammadYounes/OWIN-MixedAuth/issues/9#issuecomment-82575987

[2017-06-02 20:36] arc95 commented on #38
@MohammadYounes! Thanks. Where do call that `foreach`?

[2017-06-02 20:36] arc95 commented on #65
@MohammadYounes! Thanks. Where do call that `foreach`?

[2017-06-02 20:40] MohammadYounes commented on #65
Inside the provider's [`OnImportClaims`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/App_Start/Startup.Auth.cs#L82) method.

[2017-06-02 20:47] arc95 commented on #65
@MohammadYounes, thanks. When I tried using that code in ConfigureAuth, Visual Studio says:

- 'IAppBuilder' does not contain a definition for 'UseMixedAuth' and no extension method 'UseMixedAuth' accepting a first argument of type 'IAppBuilder' could be found (are you missing a using directive or an assembly reference?
- The type or namespace name 'MixedAuthOptions' could not be found (are you mi

[2017-06-05 13:54] arc95 opened #66 "Determining if user is internal/external"
Hi @MohammadYounes. Working on implementing the auto login for Windows users. Would I need to also add this code to make it work?  [change to RegisterMixedAuth()](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-76956157)

I'm getting a `Server Error in '/' Application. Object reference not set to an instance of an object.` when I launch the MVC5-MixedAuth with the changes in

[2017-06-05 18:05] MohammadYounes commented on #66
Hi,

No, that check will be based on IP address to decide whether to send the challenge or not.

The steps mentioned in the comment are to enable Auto Windows Login, try clearing your cookies and run the application again.

Thanks.

[2017-06-05 18:05] #66 closed, assigned to nobody

[2017-06-05 18:12] arc95 commented on #66
Thanks, @MohammadYounes. Should I be doing these changes in the MVC5-MixedAuth or OWIN-MixedAuth solutions?

[2017-06-05 18:13] MohammadYounes commented on #66
These are for OWIN-MixedAuth.

[2017-06-05 18:29] arc95 commented on #66
OK, I added these changes to a fresh copy of the app. But it loads the home page with the "Register" + "Log in" links at top. When I click Log in, it redirects to /Account/Login and shows two log in methods. I was hoping that when the user loads the app in the browser, it would already know they're on the AD. Am I missing something?

[2017-06-05 19:34] arc95 commented on #66
@MohammadYounes , thanks. Tried it with clearing the cookies and [those 4 changes](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443) on a fresh copy of OWIN-MixedAuth. It's not behaving the way I expected: It still loads the home page, and I have to click Log in, then click Windows button. With these changes, is it supposed to automatically know who the user is on t

[2017-06-05 20:10] arc95 opened #67 "Auto sign on for Windows users"
I tried it with clearing the cookies and [these 4 changes](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443) on a fresh copy of OWIN-MixedAuth. It's not behaving the way I expected: It still loads the home page, and I have to click Log in, then click Windows button. With these changes, is it supposed to automatically know who the user is on the AD?

[2017-06-05 20:16] MohammadYounes commented on #67
Does the home page require authentication ? Try hitting a page that requires authentication, and you should be challenged to authenticate using your windows credentials.

[2017-06-05 20:40] arc95 commented on #67
Hmm, it seems to be working! I put `[Authorize]` attribute on the HomeController/About action and when I try going there, it pulls my name from the db and displays it at the top. Woohoo! Thanks, @MohammadYounes :+1:

[2017-06-05 20:43] MohammadYounes commented on #67
Thanks for the feedback!

[2017-06-05 20:43] #67 closed, assigned to nobody

[2017-06-05 21:22] arc95 opened #68 "Equivalent of ExternalLoginCallback for Forms Auth?"
Hi. Is there an equivalent to the callback `ExternalLoginCallback` function for Forms Auth that we can trigger after Account/Login action returns success? I stepped through that function and noticed that `HttpContext.User.Identity` isn't set until we redirect to another action. Thanks.

[2017-06-05 21:32] MohammadYounes commented on #68
Hi,

I am afraid I don't understand the question, can you elaborate ?

[2017-06-05 23:44] arc95 commented on #68
@MohammadYounes thanks for your reply. Sorry for my confusing question. Here's what I need to do: after a user is authenticated via Forms Authentication, before they access any pages, I'd like to fetch some details about them from the database. Is AccountController/Login where I would do this? With Windows Auth I can use ExternalLoginCallback, but  for Forms Auth that doesn't seem to get called.

[2017-06-06 00:07] MohammadYounes commented on #68
Yes, The [`ExternalLoginCallback`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Controllers/AccountController.cs#L326) is used to sign the user in using the external identity. While [`Login`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Controllers/AccountController.cs#L67) will sign the user in using Username/Password.

[2017-06-06 00:07] #68 closed, assigned to nobody

[2017-06-06 00:24] arc95 commented on #68
@MohammadYounes thank you. A follow up: what object would contain the user's identity information after successful authentication in Login action? I stepped through Login and noticed HttpContext.User.Identity didn't seem to be populated until after it redirected to another action. I'd like to set some roles on the user via Claims.

[2017-06-06 00:28] MohammadYounes commented on #68
Claims can be added through the [`SignInManager`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/App_Start/IdentityConfig.cs#L92) when the claims identity is [generated](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Models/IdentityModels.cs#L12).

[2017-06-06 12:04] arc95 commented on #68
@MohammadYounes thank you for all your help! You've written an amazing library, plus you take time out of your day to help people. Very impressive!

[2017-06-06 13:43] arc95 opened #69 "Determine which type of authentication is being used"
Hi @MohammadYounes . Is there a way in the `GenerateUserIdentityAsync()` method to determine if user is authenticating via Windows or Forms? Thanks.

[2017-06-06 18:20] MohammadYounes commented on #69
Hi,

It's possible, but it would involve a lot of overrides.

However,  you can determine if the user has a linked Windows account or not by checking `this.Logins`.

Thanks.

[2017-06-06 18:28] arc95 commented on #69
Perfect, @MohammadYounes! That does the trick very nicely :+1:

[2017-06-06 19:33] arc95 commented on #69
@MohammadYounes, is it possible to add the user's AD groups -- `ClaimTypes.GroupSid` -- as claims to the `ClaimsIdentity` object in `GenerateUserIdentityAsync()` method? I can see them in `ExternalLoginCallback()` but not in `GenerateUserIdentityAsync()`. Thank you.

[2017-06-06 20:39] MohammadYounes commented on #69
The best place to import AD groups is when importing custom claims as mentioned in the [README](https://github.com/MohammadYounes/OWIN-MixedAuth#importing-custom-claims).

What do you mean by you can see them in `ExternalLoginCallback` ?

[2017-06-06 20:39] #69 closed, assigned to nobody

[2017-06-06 20:47] arc95 commented on #69
Thanks, @MohammadYounes. When I put a breakpoint in `ExternalLoginCallback`, I can run this code to fetch the user's AD groups and try to set them as roles on the user:

[code]

Here's the helper method that fetches the user-friendly group name from the AD:

[code]

I'm able to see some 37 AD groups that my login belongs to, but the adding I do here doesn't seem to affect the User object.

But as

[2017-06-06 21:17] MohammadYounes commented on #69
The `SignInManager` will add the claims stored in the database.

Also note that when importing claims inside `MixedAuthProvider`, Imported claims will be added to the claims list of the external identity (windows identity, Not the local identity).

Thus, You should save the imported claims to the database upon user registration or account linking.

*See* #60, #49 and #45

[2017-06-07 17:21] arc95 opened #70 "Sign out Windows user"
Hi @MohammadYounes. In `ExternalLoginCallback`, I'm checking to see if the user is in some groups; if not, I want to sign them out. I've got this code:

[code]

When redirected, the username is showing at the top still; I was hoping it would be cleared out. What am I doing wrong? Thanks.

[2017-06-07 18:19] MohammadYounes commented on #70
If you are using Auto Windows login and your home page requires authentication, you'll be automatically signed in again.

See #4 and #15

[2017-06-07 18:33] arc95 commented on #70
Thanks, @MohammadYounes. There's no authentication on the Home/Index page.

From what I've been reading, it's much more difficult to log someone out of Windows auth: https://stackoverflow.com/a/1067362/177416

[2017-06-07 19:48] arc95 commented on #70
@MohammadYounes: found a solution. I fetch the username from loginInfo and remove my domain stuff from the string. Then I pass it to this:

[code]

This fetches the user's domain groups; I then check to ensure the user is in the groups I want **before** running `SignInManager.ExternalSignInAsync()`, which creates the authentication token. If the user isn't in the groups, I simply RedirectToAction(

[2017-06-07 19:59] MohammadYounes commented on #70
Can you share the complete modified code of `ExternalLoginCallback` ?

[2017-06-07 20:00] MohammadYounes commented on #70
Thanks for the feedback!

[2017-06-07 20:00] #70 closed, assigned to nobody

[2017-06-13 19:06] arc95 opened #71 "Can't log in - 404 error"
Hi @MohammadYounes. I'm now implementing OWIN-MixedAuth in the main app, having tested it on its own. I've implemented all the changes for seamless Windows authentication for the user. However, it's giving me this error when I try to go to the home page. Any thoughts on what could be causing this? It's like it's caught in some loop.

This is the error:

[code]

And this is what the URL looks like:

[2017-06-13 20:26] MohammadYounes commented on #71
Seems like it can't find the `401.html` from [Step 3](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443), Please check and see if this fixes the issue ?

[2017-06-13 20:26] arc95 commented on #71
Found the solution: https://stackoverflow.com/a/20454294/177416

[code]

[2017-06-13 20:26] #71 closed, assigned to nobody

[2017-06-13 20:28] arc95 commented on #71
Thanks, @MohammadYounes :) Had to do the above. Just documented for others if they see that bizarre loop on `returnUrl`.

[2017-06-13 20:43] arc95 opened #72 "Location path for enabling mixed auth"
Hi @MohammadYounes. Following your example from the readme, I've added the following to the Web.config of my main app:

[code]

It's put a blue line under `MixedAuth` and kind of grayed out the whole block: `Location element is unused: no project item found at MixedAuth`. I changed the path to `~` and it seems to be happy, but not sure if that's correct.

What value goes into `path`? Is that the a

[2017-06-13 21:36] MohammadYounes commented on #71
Ah, it's  404.15 error (similar to [#14](https://github.com/MohammadYounes/MVC5-MixedAuth/issues/14)).

Thanks for the feedback!

[2017-06-13 21:41] MohammadYounes commented on #72
Never seen that before! The path corresponds to the MixedAuth end point as defined in [`MixedAuthOptions`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MohammadYounes.Owin.Security.MixedAuth/MixedAuthOptions.cs#L38).

[2017-06-14 12:08] arc95 opened #73 "Auto login without registration for Windows authentication"
Hi @MohammadYounes. I'm looking at your answer [here](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-150324984), and trying to change the `ExternalLoginCallback` to not send the user to "ExternalLoginConfirmation" but to the page they were trying to reach originally. In other words, Windows authenticated users shouldn't be taken to the registration page.

Here's my attempt:

[2017-06-14 19:37] arc95 commented on #72
I'm going to change it back to MixedAuth; it works that way and everything's happy :)

[2017-06-14 19:37] #72 closed, assigned to nobody

[2017-06-14 21:16] MohammadYounes commented on #73
A **Failure** External sign in status means the user wasn't signed in,  which will redirect you to the login action. Since you have auto login enabled, the app will authenticate your windows account and send you back to `ExternalLoginCallback` and thus the infinite loop.

The windows authentication is just an entry point, That `SignInManager.ExternalSignInAsync`  will translate into a local identi

[2017-06-15 14:05] arc95 commented on #73
Thanks, @MohammadYounes, for the explanation on what **Failure** means. (In my life, I have failed in infinite ways! Look up failure in the dictionary, and my picture is there.)

So for the silent registration to create a local account, I'd be running something like this (copied from `ExternalLoginConfirmation`) in `ExternalLoginCallback`. A question: how can I tell in `ExternalLoginCallback` if u

[2017-06-15 21:40] MohammadYounes commented on #73
Simply use `UserManager` to find the user linked to the external login.

[code]

[2017-06-15 21:40] #73 closed, assigned to nobody

[2017-06-16 00:20] arc95 commented on #73
Thank you, @MohammadYounes, for your continued support.

[2017-06-16 15:35] arc95 commented on #73
Here's the code that worked for me to perform silent registration for Windows users. What do you think, @MohammadYounes?

[code]

[2017-06-16 19:08] arc95 commented on #73
Also, for those interested in learning more about Windows Identity Foundation, this is a great series of articles: https://docs.microsoft.com/en-us/dotnet/framework/security/

[2017-06-16 19:37] arc95 opened #74 "Issue when user not in role"
Hi @MohammadYounes. I added the following to one of my controllers to test what would happen if a user accessed something for which they're not authorized. I'm logging in as a Windows user via seamless authentication:

[code]
The app hourglassed a while, then changed the URL to this:

`http://localhost:54071/APPS/MYAPPS/Account/WindowsLogin?ReturnUrl=%2FAPPS%2FMYAPPS%2FMyController%2FEdit%2F255555

[2017-06-16 19:44] MohammadYounes commented on #73
You can simplify it by eliminating the redundant sign in (also not to break the identity flow).

[code]

[2017-06-16 20:06] arc95 commented on #73
@MohammadYounes thanks! I really like the ELSE's you added, so nothing falls through the cracks. What do you normally do when either registration or linking fails? Log it and redirect to an error page?

By the way, how do you color-code your C# like that? Mine just comes out gray.

[2017-06-16 21:09] MohammadYounes commented on #74
Hello @arc95,

I believe it is better to create a custom authorization attribute based on `AuthorizeAttribute`  and redirect to a custom error view. See this [SO post](https://stackoverflow.com/questions/977071/redirecting-unauthorized-controller-in-asp-net-mvc).

[2017-06-16 21:46] MohammadYounes commented on #73
Yes, since your normal flow is broken and you may ask the user to try again (in case it was a temporary failure).

You need to specify the language in your fenced code block, see [creating-and-highlighting-code-blocks](https://help.github.com/articles/creating-and-highlighting-code-blocks/).

[2017-06-19 13:57] arc95 opened #75 "Securing the MixedAuth app"
Hi @MohammadYounes. I'm adding some [security measures](https://blogs.msdn.microsoft.com/rickandy/2012/03/23/securing-your-asp-net-mvc-4-app-and-the-new-allowanonymous-attribute/) to the mixed auth MVC app. For example, I've added the following to the global filters:

[code]

That global `AuthorizeAttribute` will ensure all controllers/actions are protected; using `[AllowAnnonymous]` will open the

[2017-06-19 15:33] arc95 commented on #74
Thanks, @MohammadYounes. I added this custom `AuthorizedAttribute` (with help from this [SO post](https://stackoverflow.com/a/5239540/177416)):

[code]

This will pass the source action and controller for logging purposes. I use this custom `AuthorizeAttribute` anytime I need to apply custom roles/users to an object to lock it down.

Hope this helps others who need similar code. Note also that thi

[2017-06-19 22:28] MohammadYounes commented on #74
Thanks for the feedback!

[2017-06-19 22:28] #74 closed, assigned to nobody

[2017-06-19 22:41] MohammadYounes commented on #75
The provided article covers a great deal of security measures, and I can't think of anything else at the moment.

Up to now I couldn't find any technical explanation of why it's discouraged. May be due to having different authentication flow and how browsers handle them ( for example, credentials caching does not allow actual logout).

However, seems it [might get added to asp.net vNext](https://a

[2017-06-19 22:47] arc95 commented on #75
Well I saw that post earlier today and added a feature request for your library to be used for adding mixed auth to vNext: https://aspnet.uservoice.com/forums/41201-asp-net-mvc/suggestions/19641820-mixed-authentication

[2017-06-19 22:49] MohammadYounes commented on #75
I up voted that 😄

[2017-06-19 22:54] arc95 commented on #75
You've created a solid solution for mixed auth. And you keep answering questions here 😊

[2017-06-19 22:56] MohammadYounes commented on #75
Thanks.

[2017-06-20 16:13] arc95 commented on #75
Hi @MohammadYounes. A follow-up on the global filters: should I be using my custom `AuthorizeRedirect` in the list of filters I add or the default `AuthorizeAttribute`? I basically want to lock everything down. I'll apply `AuthorizeRedirect` manually on some actions that need to be limited to a few roles. Elsewhere, the app has `AllowAnonymous` where users need to access the Login actions.

[2017-06-20 17:56] MohammadYounes commented on #75
You should keep using your custom `AuthorizeRedirect`, as it already inherits from `AuthorizeAttribute`. The only difference is you redirect to a view in case the user was already authenticated to prevent going into an infinite loop.

[2017-06-20 17:56] #75 closed, assigned to nobody

[2017-06-20 18:50] arc95 commented on #74
@MohammadYounes, I just updated the code above to reflect some new discoveries. Hope it helps others.

[2017-06-20 20:53] arc95 opened #76 "Store additional information on the userIdentity object"
Hi @MohammadYounes. In `IdentityModels.cs` > `GenerateUserIdentityAsync`, is it possible to store additional information on the `userIdentity` object? It would be great to attach a custom POCO or to have additional read-only properties, which would be available throughout the application while the user is logged on.

Thanks.

[2017-06-20 20:56] MohammadYounes commented on #76
You can do that by adding custom claims.

[2017-06-20 21:01] arc95 commented on #76
Thanks, @MohammadYounes. Going to implement this tomorrow. A great resource here: https://docs.microsoft.com/en-us/dotnet/framework/wcf/extending/how-to-create-a-custom-claim

[2017-06-20 21:02] #76 closed, assigned to nobody

[2017-06-21 15:34] arc95 opened #77 "Logout button for Forms authenticated users"
Hi @MohammadYounes. I'm implementing a logout button for the users who are logged in using Forms Auth; the Windows Auth users can't really "log out" unless they close their browser. In addition, the Windows users would never have a Forms account in this app.

In this scenario, I'm detecting the user's authentication mode in `IdentityModels.cs` and storing it as a custom claim. Then, in the `_Login

[2017-06-21 20:27] MohammadYounes commented on #77
You may keep it and redirect the user to a view with a message like: `You must close your browser to complete the sign out process`. However, closing a browser tab won't do it, the user must close the browser process completely.

I think it is possible to force the browser to clear the credentials cache by refusing the stored ones several times, I have seen this in Microsoft solutions - such as TF

[2017-06-21 20:27] #77 closed, assigned to nobody

[2017-06-21 20:51] arc95 commented on #77
Thanks, @MohammadYounes. I'll look at that. It'll be good to have a true "sign-out" for all users.

For now, I'm thinking of showing a the message you suggested in a Bootstrap modal for Windows users when they click logout.

[2017-06-21 20:58] MohammadYounes commented on #77
@arc95 You should invoke logout action to clear the cookies, the problem with windows users is the browser cache that will log them back in again.

[2017-06-21 21:01] arc95 commented on #76
@MohammadYounes, here's the solution I implemented for this, with help from this [SO post](https://stackoverflow.com/questions/44677784/custom-claim-with-boolean-type/),

A class to hold the custom auth types:

[code]
An enum for the auth types:

[code]
This code in `IdentityModels.cs` to add the custom claim:

[code]
A method in a utilities class to fetch the current auth type from the principal

[2017-06-22 12:14] arc95 commented on #77
@MohammadYounes There's also this solution for forcing logout of Windows users: http://www.morgantechspace.com/2013/08/how-to-force-sign-in-as-different-user.html

For now, I'll have them log out manually via closing of the browser. Version 2.0 of the app can get more fancy :)

[2017-06-22 16:29] lneninger opened #78 "Error Message: This method can only be called after the authentication event"
First of all I want to thank you for this the awesome library.

I'm already implemented my external authentication using your library. But just today suddenly I start to faced a error into the MixedAuthProvider.
I changed the

I implemented a customer provider which i the second redirect received the error
 This method can only be called after the authentication event.

Note: My only one change wa

[2017-06-22 18:09] MohammadYounes commented on #78
As we are using LogonUserIdentity, its required to run in `PipelineStage.PostAuthenticate` (see [README](https://github.com/MohammadYounes/OWIN-MixedAuth#usage))

If the only change was updating SignalR package. Check to see if it is registering any middle-ware that uses `PipelineStage.Authenticate` and make sure to register MixedAuth after that.

[2017-06-23 14:09] arc95 opened #79 "AD authentication for users outside of network"
Hi @MohammadYounes. We've realized a use case scenario for the app: Some users who have AD (Windows) accounts will need to log on from outside of the internal network. As the app is set up right now, it will redirect them to the login page (I think), because it assumes they're Forms Auth users.

All these users will be having the same domain on their emails (such as "mydomain.org"). Is there a way

[2017-06-23 17:58] MohammadYounes commented on #79
It doesn't matter where do users login from (internal or external network) as long as they have valid AD credentials and IIS can authenticate them.

[2017-06-23 17:58] #79 closed, assigned to nobody

[2017-06-23 18:40] lneninger commented on #78
Yes. I activated SignalR which add new middleware to ASP.Net pipeline. My fix was move the configuration call's order for SignalR and MixedAuth  and it's working as before.

Once again. Thank for your help.

[2017-06-23 18:40] #78 closed, assigned to nobody

[2017-06-23 19:40] arc95 opened #80 "Why does "Windows - Authentication" need to be set to Read/Write?"
Hi @MohammadYounes. For the setting on the full IIS to allow MixedAuth, why do we need to change "Windows - Authentication" to Read/Write in Feature Delegation? What does this setting do? I'm writing a request to our server admins and need to provide them with a justification.

Read about it [here](https://docs.microsoft.com/en-us/iis/manage/managing-your-configuration-settings/an-overview-of-feat

[2017-06-23 19:43] arc95 commented on #79
Thanks, @MohammadYounes If they try logging on from outside of the network (from home, let's say), would it pop up a challenge box asking for credentials? Would it do the same for the Forms Auth users?

Sorry for the newbie questions; just trying to wrap my head around this.

[2017-06-23 20:34] MohammadYounes commented on #80
As mentioned in the README:

This is to allow setting windows authentication on a sub path and not the entire app. In essence, the app is using Forms Authentication and only `MixedAuth` endpoint is using the Windows Integrated Authentication.

[2017-06-23 20:34] #80 closed, assigned to nobody

[2017-06-23 20:35] MohammadYounes commented on #79
Yes.

What do you mean ?

[2017-06-23 20:37] arc95 commented on #80
Great explanation, @MohammadYounes. Thanks!

[2017-06-23 20:40] arc95 commented on #79
Do the Forms Auth people not get redirected to the Login page?

I think I need to implement this on the server and try hitting it from a machine that's not on the AD. Then I can see how it all works. Right now I'm not sure how it will all behave from off the network. Some testing is in order :)

[2017-06-23 20:43] MohammadYounes commented on #79
All users will be challenged to enter AD credentials, those who don't provide one will have to cancel and get redirected to the login page.

[2017-06-23 20:47] arc95 commented on #79
@MohammadYounes, thanks. That makes sense, though for Forms Auth users (not on AD), the popup will be confusing. That popup will only authenticate Windows users, and the other folks will have to cancel and go to Login page. Some may try to enter their Forms Auth credentials into that.

[2017-06-23 20:58] MohammadYounes commented on #79
You can make a [check based on IP address](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-76956157) to determine if the user is internal or external. Then redirect external users to the login page and provide them with a Windows login option.

[2017-06-23 20:59] arc95 commented on #79
Brilliant, @MohammadYounes!

[2017-06-29 15:58] arc95 opened #81 "Added issue to AspNet to add this library"
Hi @MohammadYounes. Added a request [here](https://github.com/aspnet/AspNetWebStack/issues/53) for your library to be added to MVC. Our experience has been solid with it; makes sense for it to be part of the .NET library.

[2017-06-29 15:58] #81 closed, assigned to nobody

[2017-06-30 14:55] MohammadYounes commented on #81
Thanks!

[2017-07-03 16:52] arc95 commented on #79
Hi @MohammadYounes. Follow-up: ~~IP addresses can be spoofed, as I've been reading. So it's not a reliable way to detect who's on the network and who's coming in from outside.~~

~~Is there a place in the code where I can tell that the automatic Windows authentication didn't work (as described in the [4 steps here](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443))

[2017-07-03 17:47] arc95 opened #82 "URL for Windows challenge"
Hi @MohammadYounes. Is it possible to have a URL that launches the Windows challenge popup? Or have the [Windows] button display? Thanks.

[2017-07-03 19:15] MohammadYounes commented on #79
If someone is spoofing an internal IP address, they should get the internal user experience :)

[2017-07-03 19:17] MohammadYounes commented on #82
Hi,

You can add this to account controller:

[code]

Thanks.

[2017-07-03 19:17] #82 closed, assigned to nobody

[2017-07-03 20:33] arc95 commented on #79
Thanks, @MohammadYounes. I've implemented the code for checking IP address and redirecting, but it doesn't work on localhost, because localhost doesn't show the IP address correctly:

[code]
And I'm calling the above in `Global.asax.cs` like this:

[code]

This code works on the server. Is there any way to fix it to work on localhost? I'm thinking if I could call your `RegisterMixedAuth()` for loc

[2017-07-04 19:04] MohammadYounes commented on #79
You can try this [SO answer](https://stackoverflow.com/a/20194511/328072).

[2017-07-05 13:07] arc95 commented on #79
Thanks, @MohammadYounes. Got it working by changing the method we register in `Global.asax.cs`. Still need to test this from outside the network.
[code]
Hope this helps someone else.

[2017-07-05 20:52] arc95 opened #83 "External access stops with querystring"
Hi @MohammadYounes. Before explaining the issue, let me briefly explain my use of OWIN-MixedAuth, noting that I don't want the challenge popup to show for those off the network:

- If the user is internal (on the network, using IP address):
  - Automatically register them and log them in (this is done via the [4 steps](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-14998544

[2017-07-06 20:11] arc95 commented on #83
Found a partial solution: added back the [Windows] authentication button to /Account/Login and removed all the items that allowed automatic Windows logon. Now the users are all redirected to the /Account/Login, where they can log on using either Forms or Windows. Clicking the Windows button works on all browsers except IE, where it throws an error:

[code]
Thinking this might be an issue with the

[2017-07-06 20:44] #83 closed, assigned to nobody

[2017-07-07 11:41] MohammadYounes commented on #83
@arc95 It's hard to figure out what's wrong with the provided info, you need to debug it and see what's wrong and why IE dies on that action.

[2017-07-07 12:40] arc95 commented on #83
Thanks, @MohammadYounes Got it working in IE when I logged on the laptop with a different account. Now trying to figure out why the IP redirect + auto Windows logon didn't work for users not on AD.

[2017-07-14 18:04] Wyrus opened #84 "Logging errors originating within /MixedAuth"
I have a few users with various browsers getting occasional login errors when using windows auth. I don't have any reliable error information from them - they're users. :)
I have an Application_Error handler in my global.asax, and it receives errors and does appropriate logging when the errors originate from my app.
However, errors from the MixedAuth code aren't tripping my error handler. If I und

[2017-07-15 09:39] MohammadYounes commented on #84
You may try adding an OWIN exception handler middle ware . Something like [this project](https://github.com/timReynolds/WebApiExceptionDemo).

[2017-07-15 09:39] #84 closed, assigned to nobody

[2017-07-27 16:14] jbenzshawel opened #85 "Users authenticated through windows auth randomly using Windows Identity"
For users who have authenticated as a windows user they end up having both a Claims Identity and a Windows Identity. While using the application the Windows Identity is randomly lost and the User.Identity only has the Claims Identity. In some cases after losing the Windows Identity on next page the user will have both the Windows and Claims Identities again. In other cases just the Claims Identity

[2017-07-28 12:06] MohammadYounes commented on #85
I haven't experienced such issue, The Windows Identity is supposed to be available when authenticating against the MixedAuth endpoint, after that you'll have the claims identity only.

Did you enable Windows Authentication to the whole app or just the endpoint as described in the [README](https://github.com/MohammadYounes/OWIN-MixedAuth#iis) ? Also, does this Windows Identity match the logged in u

[2017-07-28 20:08] jbenzshawel commented on #85
Thanks for the response. I believe Windows Authentication is enabled for the whole app as the web.config setting is like the README:

[code]

The Windows Identity matches the login user and the authentication type is negotiate:
[code]

[2017-07-28 20:12] MohammadYounes commented on #85
This enables windows authentication for the `MixedAuth` path only.
[code]
Make sure the you didn't enable it on [the app or site level](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Web.config#L21).

[2017-07-28 20:52] jbenzshawel commented on #85
The authentication mode is set to Forms, but I found another place in the web.config where windowsAuthentication was being enabled which was causing the issue. After that additional setting was removed the Mixed Authentication is behaving as expected.

[2017-07-28 20:52] #85 closed, assigned to nobody

[2017-07-28 20:53] MohammadYounes commented on #85
Thanks for the feedback!

[2017-08-03 12:34] Wyrus commented on #84
Thanks for the info. Your suggestion worked out great.

As with most of .NET, at least half the battle is knowing what is possible. ☺

Scott Williams
EnerSys Corporation

From: Mohammad Younes [mailto:notifications@github.com]
Sent: Saturday, July 15, 2017 4:40 AM
To: MohammadYounes/OWIN-MixedAuth <OWIN-MixedAuth@noreply.github.com>
Cc: Wyrus <wyrus@acm.org>; Author <author@noreply.github.com>
Sub

[2017-08-03 18:35] MohammadYounes commented on #84
Thanks for the feedback!

[2017-08-20 05:40] developer2006 opened #86 "Where is the MVC-MixedAuth.mdf file ?"
Hello Mohammad,

I can not find MVC-MixedAuth.mdf db file ... where I can I find it or how to generate it?

Thanks,

[2017-08-20 21:03] MohammadYounes commented on #86
Hello @developer2006 ,

Running the app will generate the required DB. If you are using IIS instead of IIS Express, change the connection string to use SQLExpress.

Thanks.

[2017-08-20 21:03] #86 closed, assigned to nobody

[2017-09-10 22:46] davros1973 opened #87 "Normal prompt behaviour for machine context / windows authentication?"
Hi - I'm embarrassed by my ignorance by asking this - I'm only 6-weeks into programming as a job for the first time, and like-wise ASP.NET.  I've spent the entire weekend experimenting and reading but I'm just getting more confused.

Workgroup (not AD).

--------
Question: OWIN-MixedAuth - MVC project... sample download on Vis Studio 2015 ... when running on (IIS) localhost or machine-name hostnam

[2017-09-11 09:06] davros1973 commented on #87
Update (briefly for once) - at work, on the domain.  When I change, in IIS, the hostname binding to anything but localhost or the machine host name then, on the SAME machine as the IIS server, I still get prompted.  BUT ... on the machine next door to me (still logged on as me though), and just adding the new arbitrary IIS hostname to the hosts file on that machine for now (pending requesting a DN

[2017-09-11 09:06] #87 closed, assigned to nobody

[2017-09-12 09:49] MohammadYounes commented on #87
Hi - thanks for all the details.

The prompt depends on **Security Settings/User Authentication** of the current site zone:

![auto login](https://cloud.githubusercontent.com/assets/4712046/6040904/b1c35c44-ac7f-11e4-9526-7086d71c058b.png)

The other thing to note is Browsers will cache the windows credentials and use them for subsequent windows authentication requests, **No prompt will be display

[2017-09-12 13:47] davros1973 commented on #87
Hi Mohammad - thanks for the great software and for taking the time to make that comment ...

I did try changing those settings repeatedly along with other other combinations ... but I just realised I never tried restarting the computer (VM's) ... although that was the original setting I think when I added sites to the "intranet zone".  I'll try once more, with a restart, when I get a chance at ho

[2017-10-04 13:47] xigolle opened #88 "Using this solution without the need of a database"
Dear Mohammed,

Really great solution and it works fast and great.
The only problem I am having with it that it uses/needs a database (and this also creates one).
My question is if this is also possible with only using cookies?
Because I have been trying a lot of different options but it always uses that database.

Hope you can help me out.
Thanks in advance! #

[2017-10-04 18:56] MohammadYounes commented on #88
@xigolle Yes, it can. Get rid of the `UserManager`  and don't create a `DBContext` - @pcbHikeME did something similar in #35.

[2017-10-04 18:56] #88 closed, assigned to nobody

[2017-11-13 09:19] Adam-78 opened #89 "Authentication Anomaly When Using Multiple Applications and Owin-MixedAuth"
I have two mvc 5 applications setup using OWIN-MixedAuth deployed to the same server. Each application is inside a separate folder and configured with its own app pool as follows:

    xyz.domain.com/MySiteA

    xyz.domain.com/MySiteB

Web config for each is as follows

    <system.web>
       <customErrors mode="Off"/>
       <authentication mode="None" />
       <compilation debug="true" target

[2017-11-13 10:48] Adam-78 commented on #89
I've managed to fix by adding a cookie name to startup.auth:

    var cookieOptions = new CookieAuthenticationOptions
    {
        AuthenticationType = DefaultAuthenticationTypes.ApplicationCookie,
        CookieName = "MySiteA",
        LoginPath = new PathString("/Account/Login"),
        Provider = new CookieAuthenticationProvider
        {
            // Enables the application to validate th

[2017-11-14 15:14] MohammadYounes commented on #89
Yes, Most probably, because both apps are under the same domain.

Thanks for the feedback!

[2017-11-14 15:14] #89 closed, assigned to nobody

[2017-11-27 09:51] MrHmP commented on #8
Hi @MohammadYounes , thanks for your help of this question. I have one doubt regarding this.
I already have a custom error 401 page, so I cant redirect user to `/Account/Login` .

Is there any other alternate?
Thankyou for your time.

[2017-11-27 20:30] MohammadYounes commented on #8
Hello @MrHmP

Unfortunately, I have no other alternative at the moment.

Thanks!

[2018-01-23 16:15] generik0 opened #90 "Windows Security Login appears after domain login"
Hi

Great package, thanks! Really saved me a lot of trouble combining AD and cookies. Thanks.
Everything seams to work, but after i have added the Mixed Login i get this login modal.
Even though the user / claim is created correctly by the owin middleware and the MixedAuthOptions with the MixedAuthProvider is working and the claim is validated.

Is it some simple user rights or something else? Any

[2018-01-23 17:40] generik0 commented on #90
I found this stak overflod link that might fix the issue.
https://stackoverflow.com/questions/5402381/receiving-login-prompt-using-integrated-windows-authentication

[2018-01-23 20:07] generik0 commented on #90
It appears that my responce is being becoming a 401.02 by the MixAuth.
From MixedAuthHandler - InvokeAsync.

The user is either the app ppol user or the IUser (depending on the setup in the IIS.

So it appears that the browser user is not passing it credentials without a login, and hence not SSO.

Any ideas to get the user credentials / auth to pass?
I feel i have tried almost everything.

even:
<

[2018-01-23 20:24] MohammadYounes commented on #90
Hi,  Did you follow [IIS setup](https://github.com/MohammadYounes/OWIN-MixedAuth#iis)  and [Usage steps](https://github.com/MohammadYounes/OWIN-MixedAuth#usage) mentioned in the README ?

[2018-01-23 21:08] generik0 commented on #90
Thanks for answering.
I have folmowed work for word... and tjekket multiple times.

[2018-01-23 21:13] generik0 commented on #90
I am using Ms.Owin 3.1.0 but i dont expect this should make a difference.

Is the MixAuth  supposed to always return 402, and the initial identity always be the iis pool?
Forcing a new request and user credentials from the client?
Is it the client supposed to post its credentials initially?

[2018-01-23 21:22] MohammadYounes commented on #90
There are two cases that would cause a 401.2 when hitting the MixedAuth endpoint:

1. User not authenticated
2. Or already authenticated using cookies (In this case the identity will be the IIS App Pool)

Are you getting the login prompt on every page in your app ?

[2018-01-24 05:58] generik0 commented on #90
Hi
I am getting the 401.2 because the user is not authenticated.
I integrated the your source into my code and is the user not authenticated that is the issue. The identity is the app pool user which is passing at that point.

After the Authenticator.Callback( ) with the windows provider the MixAutg provider does not get called.
The login prompt appears in the browser.

If I login through the prom

[2018-01-24 06:04] MohammadYounes commented on #90
Not sure I understand the exact scenario, is it possible to share a sample project? Do you get the same behavior when running the samples provided in this repo?

[2018-01-24 06:35] generik0 commented on #90
Good questions, thanks!
I will test more with your project today and get back to you.

It should be noted that we have had som issues with owin, especially with cookies and Nancy togethers with Sessions.
You see, things need to be loaded into owin in the correct order at startup.

Thanks again for your time and the package. I Will get back to you ASAP...

[2018-01-24 06:40] generik0 commented on #90
I just saw i the readme that MixAuth needs to be registered at PipelineStage.Authenticate

Nancy registers at MapHandler.
So, I guess I did not read the readme well enough. I will look into the PipelineStage when I land at work...

[2018-01-24 08:48] generik0 commented on #90
So i landed at work, and started digging into it straight away.
The PipelineStage was correct.

I tried your app, and it also came with the credentials.
THen i deleted the Pool and site. IT worked.

I enabled the HTTPS, and the prompt came again..

Could it simply be because the cert is not valid? Then the Sso is not working on HTTPS? or is it only http the mix auth works for?

[2018-01-24 09:32] generik0 commented on #90
I have tried with a valid cert also now. No cigar :-/
I am at a loss.. And final ideas?

[2018-01-24 11:36] generik0 commented on #90
Hi Again

I have now tryied on the  customers domain. Where there is a cert and everything for the site.
Interestingly, when i add the url to the internet options/security/Local Intranet then the Sso works...

Hence, i think running locally on the IIS, without a cert appears not to work without login prompt?

LÆets put this in pause until i have deployed the full version to the customer site.

[2018-01-24 16:49] generik0 commented on #90
I have deployed.
On the customer site it works with https where there is a valid cert and the site needs to be in the intranet zone for default settings to work...

[2018-01-24 16:49] #90 closed, assigned to nobody

[2018-01-24 21:07] MohammadYounes commented on #90
Glad it worked :) and Thanks for the feedback!

[2018-03-01 13:52] arc95 opened #91 "Redirect on session timeout"
Hi @MohammadYounes. How do you deal with session timeouts when using OWIN-MixedAuth? I had put my computer to sleep and came back, clicked a button, and it threw an exception saying it couldn't find that action on the controller. Once I refreshed the page, all was good. I think it's a dead session.

Is there a way to notice that and redirect Windows auth users? For Forms auth users, something like

[2018-03-01 15:44] MohammadYounes commented on #91
@arc95 I don't think this is related to OWIN-MixedAuth. The windows authentication is just an entry point, after that it's all cookies.

I recommend checking the app again to see what caused the issue.

[2018-03-01 16:58] #91 closed, assigned to nobody

[2018-03-02 13:11] arc95 opened #92 "Challenge popup on some browsers"
Hi @MohammadYounes. We're getting the challenge popup box on some PCs and with some browsers. For example, Firefox shows the popup when I first load the app, whereas Chrome/IE don't. I've stepped through the code and it all seems to take the same path, whether it's FF or the other browsers.

Once I enter my credentials, the app is happy. This happens even when hitting servers with good certificate

[2018-03-03 01:25] MohammadYounes commented on #92
Hello @arc95

The prompt depends on **Security Settings/User Authentication** of the current site zone:

![auto login](https://cloud.githubusercontent.com/assets/4712046/6040904/b1c35c44-ac7f-11e4-9526-7086d71c058b.png)

**Firefox** has a special flag under `about:config` that you need to enable. Check this [support article](https://support.mozilla.org/en-US/kb/Firefox%20asks%20for%20user%20name%2

[2018-03-03 01:25] #92 closed, assigned to nobody

[2018-03-05 14:24] arc95 commented on #92
Thank you, @MohammadYounes! This worked like a charm. Though the instructions for FF say they may be out-of-date, they still work on the latest FF. As for Chrome, this SO post gives instructions: https://stackoverflow.com/questions/7800938/how-to-enable-auto-logon-user-authentication-for-google-chrome

[2018-03-05 20:13] MohammadYounes commented on #92
Thanks for the feedback!

[2018-03-16 12:28] nighotatul opened #93 "User is not authenticated when we clear the browser history"
Hi Mohammad,
We have implemented OWIN authentication in our module and are successfully implemented for windows authentication in our asp.net web-form application. The strange behaviour happening when we clear history of browser and again login then user is not authenticated and because of user is not authenticated, our application redirect to a login page.

These behaviour only happen when browse

[2018-03-18 21:40] MohammadYounes commented on #93
Hi @nighotatul

If clearing browser history includes cookies ? Then yes, your session will be lost and you'll be redirected to login page.

The windows authentication is just an entry point, after that it's all cookies.

I didn't get that last statement, Do you mean after clearing history you can no longer authenticate unless you rebuild the app ?

[2018-03-19 04:15] nighotatul commented on #93
Yes what you mention is correct as after clearing history we no longer authenticate through login page so we close the login page and again clean the solution and rebuild the application and run it again.

[2018-03-19 14:51] svesax opened #94 "Use with Angular 5 + Webapi"
Hi Mohammad,
My scenario is
- A pure Angular5 SPA application (then without MVC support)
- A separate WebApi application (where I have all my business controller/actions)

I would like to authenticate users with Windows domain or with SQL.
Can I configure your MixedAuth only in Webapi project and use it by call from Angular SPA ?
If yes, what are the order of calls to make from SPA to Webapi (with

[2018-03-20 10:31] ghost opened #95 "Trapping 500 error when IIS incorrectly configured"
Hi,

Is there any way of trapping the 500 server error that occurs when the IIS server is incorrectly configured (Authentication - Windows NOT set to Read/Write in IIS root site feature delegation). I want my application to fall back to forms logon (with an 'incorrectly configured server' error message) when the server is not configured correctly.

Thanks

Chris

[2018-03-24 12:10] MohammadYounes commented on #94
Hi @svesax,

You can check the SPA example included in this repository. The basic steps are:

1. Enable the application to [use bearer tokens](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/SPA/App_Start/Startup.Auth.cs#L72-L73) to authenticate users. Which requires setting both [Token/Authorization](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/SPA/App_Start/S

[2018-03-24 12:10] #94 closed, assigned to nobody

[2018-03-24 12:13] MohammadYounes commented on #93
The behavior you are describing is an odd one, Can you provide a sample app that I can debug ?

[2018-03-24 13:13] MohammadYounes commented on #95
Hi Chris,

This is a server level error, You can only trap it inside [`httpErrors`](https://docs.microsoft.com/en-us/iis/configuration/system.webserver/httperrors/). Might be possible to redirect to a page or action to reconfigure the app:

[code]
Thanks!

[2018-03-26 08:59] svesax commented on #94
Thank you Mohammad but I have always the same problem calling from
Postman:  "error": "invalid_client"
The call I make is this POST
http://localhost:28636/token whith
Content-Type: application/x-www-form-urlencoded
parameters: grant_type=password&username=[USER]&password=[PASSWORD]
But always I get   "invalid_client"
Have I to make some configuration in database or webconfig ?
If I use your pages

[2018-03-26 15:34] svesax commented on #94
Hi, I have resolved the problem of "/Token" call by
implementing ValidateClientRedirectUri and GrantResourceOwnerCredentials
in ApplicationOAuthProvider.
Now I have (hope) last problem regard windows auth: I can correclty
authenticate with /Account/ExternalLogin, then I call /Account/Authorize
and in the response (302) I see my access_token in Location, but I'm an SPA
the I can not read it...
If y

[2018-03-26 20:52] MohammadYounes commented on #94
@svesax This means you got the token, now just [read](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/SPA/Scripts/app/app.viewmodel.js#L43) the hash from [`window.location`](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/SPA/Scripts/app/common.js#L6-L10)

[2018-03-28 09:30] svesax commented on #94
Thank you for your help Mohammad, yes is correct what you suggest.
But if I host my UI application in [HOST A] and my WebApi application with
your module in [HOST B], final users will be redirect in [HOST B] with
token in #window.location.hash, then the UI application can not read the
token... this is the problem.
Instead everything works correctly if UI and Webapi (with your module) are
hosted on

[2018-03-28 17:13] emcxh35 commented on #88
Did you ever get this working - I am looking to do the same

[2018-04-03 18:45] MohammadYounes commented on #94
@svesax Have you tried using  `redirect_uri` ? Another option would be to change the redirect into a response via hooking into application end request event.

[code]

[2018-04-08 09:01] sylfree9999 commented on #8
Hi @MohammadYounes

I have tried what you suggested [above](https://github.com/MohammadYounes/OWIN-MixedAuth/issues/8#issuecomment-149985443) in the MVC project. But for some reason, the page did not redirect to the windowslogin. It just went straight to the login page. What did I miss here? Could you please help?

Many thanks!
[MVC.zip](https://github.com/MohammadYounes/OWIN-MixedAuth/files/18871

[2018-04-09 22:32] MohammadYounes commented on #8
Hello @sylfree9999

Did you try checking the network tab to see the sequence of requests ? Also, Did you unlock the `windowsAuthentication` section as mentioned [here](https://github.com/MohammadYounes/OWIN-MixedAuth#iis-express) ?

[2018-04-10 09:44] sylfree9999 commented on #8
Hi @MohammadYounes , yes, I have unlock that in the .vs config and actually I am able to login using windows domain account. But I still could not **auto** login the domain user since the application went straight to login action instead of winlogin.
![loginnetwork](https://user-images.githubusercontent.com/15099465/38549516-c0795356-3ce6-11e8-8781-73e557d160d8.PNG)

[2018-04-10 19:40] kamranbashir opened #96 "mixed auth sso and azur b2c"
Salam Younes,

I have a different requirement.

1.On class level i want to use [Authorize] attribute
2. In owin startup i want to have have to type of setup. one azure b2c and second asp.net identity cookie based.

now question is that is that possible and how to setup?

second how to invoke each of them when url is same e.g. www.demoauth.com for both cases.

i feel you might could answer.

thanks

[2018-04-12 19:55] MohammadYounes commented on #8
@sylfree9999 FormsAuthentication module should be [removed](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Web.config#L35-L39) from the whole app, not just MixedAuth [path](https://github.com/MohammadYounes/OWIN-MixedAuth/blob/master/src/MVC/Web.config#L26-L34).

[2018-04-18 15:58] MohammadYounes commented on #96
Salam Kamran,

Can you elaborate more? The requirements are not clear to me.

Thanks.

[2018-07-02 18:31] arc95 opened #97 ".NET Core support"
Hi @MohammadYounes. Does OWIN-MixedAuth package work with .NET Core 1.x/2.x? Thanks.

[2018-07-03 06:59] MohammadYounes commented on #97
Hey @arc95, I haven't tried it. It would be great if you give it a try!

[2018-07-03 12:09] arc95 commented on #97
I might get the chance soon; thinking it'll work fine. Will let you know the results.

[2018-07-26 08:26] Uffgepasst opened #98 "AD Group claims can not be accessed"
Hey there.

I'm trying to decide what content to show to users based on their AD Groups.
In startup auth I have configured app.UseMixedAuth like so:

[code]

Now when I try to enumerate the groups a user is in, I simply get null:

[code]

Am I missing something? I'd appreciate the help!

[2018-07-28 10:41] MohammadYounes commented on #98
@Uffgepasst  Imported claims will be added to the claims list of the external identity (windows identity, Not the local identity).

Upon user registration or account linking you need to read those claims from the external identity and save them to the database as part of the local identity claims.

[2018-07-28 10:41] #98 closed, assigned to nobody

[2018-09-21 17:56] zbx888 opened #99 "Can I convert to Windows authentication with Identity?"
hi @MohammadYounes. I have one intranet web form application with Identity to authenticate/authorize users in Visual Studio 2015. Now I tried to convert it from "Individual User Account" to Windows authentication to use company AD windows to automatically login if a user click a url.

Can I use the way you mentioned for user DabPFW in Question #52 https://github.com/MohammadYounes/OWIN-MixedAuth/i

[2018-09-24 06:04] MohammadYounes commented on #99
@zbx888 This adds windows authentication as an external provider, you need to keep "Individual User Account" then follow the steps to add auto windows login.

Thanks.

[2018-09-24 06:04] #99 closed, assigned to nobody

[2018-09-27 14:24] zbx888 commented on #99
hi @MohammadYounes. Thank you so much for your quick response. Really really appreciate.

My question eventually is I want to remove login page and automatically log on the user if a user clicks a URL. It is an intranet web site and every user has a AD account.

Can I still follow the step to change?

[2018-09-28 18:01] MohammadYounes commented on #99
Yes, But if all users are under AD, why don't just use windows authentication without using individual user accounts ?

[2018-10-01 12:56] zbx888 commented on #99
hi @MohammadYounes.  Good morning!
In this intranet application, Not all users are the application users and also we want to use Roles saved in the database table AspNetUserRole to authorize the access.

I followed your steps you recommended
1. Startup.Auth.cs: Change LoginPath to point to Windows Login Action
2. WindowsLogin.aspx.cs: On PageLoad request the windows challenge.
3. 401.html: Add 401

[2018-10-02 18:09] MohammadYounes commented on #99
@zbx888 Mixed authentication uses cookies and relies on `Windows Authentication` for the MixdAuth endpoint only. You need to enable `Anonymous Authentication` to avoid having the redirect loop (see [this comment](https://github.com/MohammadYounes/MVC5-MixedAuth/issues/14#issuecomment-49452350)).

[2018-10-02 19:42] zbx888 commented on #99
Even I enabled Anonymous Authentication, still get error 404 - File or directory not found.

The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.

[2018-10-02 20:00] MohammadYounes commented on #99
Which file? Can you share the dev tools network log?

[2018-10-03 12:47] zbx888 commented on #99
@MohammadYounes  Really appreciate your help!!!!
The included is network log file by F12 Developer Tool. Thank you!

[NetworkData.zip](https://github.com/MohammadYounes/OWIN-MixedAuth/files/2442012/NetworkData.zip)

[2018-10-03 12:50] zbx888 commented on #99
@MohammadYounes Even I enabled the Anonymous Authentication  the redirect URL still keeps loop.

[2018-10-03 18:12] MohammadYounes commented on #99
@zbx888 The log is insufficient, as it shows only 1 entry.

Can you join me here https://gitter.im/MohammadYounes/OWIN-MixedAuth ?

[2018-10-04 16:17] zbx888 commented on #99
@MohammadYounes  Thank you so much for your invitation but our security policy blocks instant messaging unless special approval.

I will try to build a new one again for testing on my developer computer. Before that please help me confirm that I had to follow the steps mentioned in Readme to configure.
1. On IIS set Authentication-Windows to Read/Write
2. On IIS Express set windowsAuthentication =

[2018-10-04 20:15] MohammadYounes commented on #99
@zbx888 Step 4 - Windows Authentication should be enabled for the `MixedAuth` endpoint only:
[code]

[2018-10-09 18:54] zbx888 commented on #99
hi @MohammadYounes Thank you so much for your help. Finally my application basically is working now.

I still have two issues so hopefully you can give me further help
1. I set ExpireTimeSpan = TimeSpan.FromMinutes(30) in Startup.Auth.cs
            var cookieOptions = new CookieAuthenticationOptions
            {
                AuthenticationType = DefaultAuthenticationTypes.ApplicationCookie,

[2018-10-09 22:21] MohammadYounes commented on #99
@zbx888 This behavior is by default. Browsers will cache the windows credentials and use them for subsequent windows authentication requests, no prompt will be displayed asking for user credentials (Even if your internet settings were set to prompt for username and password). You need to either close the browser or invalidate the browser credentials cache.

The log off link will still be required

[2019-02-04 01:36] zbx888 commented on #99
@MohammadYounes Sorry bother you again and really appreciated your help.
Due to Application pool recycle I use StateServer on same server to keep session data. The current issue is if I keep the application running for several hours or overnight, sometimes got a poping up window for security credential and sometimes not but clicking a link to another page or button to load data got blank page. I c

[2019-02-05 22:00] MohammadYounes commented on #99
@zbx888 This means your cookie expired due to user inactivity, and clicking a link to another page should redirect you to the auto login end point. What is this blank page you are referring to ?

[2019-02-06 13:59] zbx888 commented on #99
@MohammadYounes Thank you so much!

YES, the blank page is I refer to.  Because of blank page I only click Back button on the IE browser to auto login.

In IIS log I found 401 error when cookie expired. Why did it not redirect to auto log as set in webconfig:
    <httpErrors errorMode="Custom">
      <remove statusCode="401" />
      <error statusCode="401" path="401.html" responseMode="File" />

[2019-02-06 14:01] zbx888 commented on #99
@MohammadYounes Thank you so much!

YES, the blank page is I refer to. Because of blank page I only click Back button on the IE browser to auto login.

In IIS log I found 401 error when cookie expired. Why did it not redirect to auto log as set in webconfig:
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="401" />
      <error statusCode="401" path="401.html" resp

[2019-02-06 14:09] zbx888 commented on #99
@MohammadYounes Thank you so much.

YES. The blank refers to what is set.

I found the 401 error in IIS log when I click the link. How can following setting not work to auto login?
    <httpErrors errorMode="Custom">
      <remove statusCode="401" />
      <error statusCode="401" path="401.html" responseMode="File" />
    </httpErrors>
    <modules>

How do I check cookie expiration in this case?

[2019-02-06 14:16] zbx888 commented on #99
@MohammadYounes Thank you so much.

YES. The blank refers to what is set.

I found the 401 error in IIS log when I click the link. How can following setting httpErrors errorMode="Custom" not work to auto login?
    httpErrors errorMode="Custom"
      remove statusCode="401"
      error statusCode="401" path="401.html" responseMode="File"
    </httpErrors>

How do I check cookie expiration in this

[2019-02-06 14:25] zbx888 commented on #99
@MohammadYounes Thank you so much from my heart

YES. The blank refers to what is set. Due to blank I only can click BACK button on IE browser to auto login.

1. I found the 401 error in IIS log when I click the link getting blank. How can following setting not work to auto login?
    httpErrors errorMode="Custom"
      remove statusCode="401"
      error statusCode="401" path="401.html" responseM

[2019-02-07 12:50] zbx888 commented on #99
@MohammadYounes Highly appreciated if you can give me some ideas to fix this issue. Thank you.

[2019-02-08 09:12] MohammadYounes commented on #99
@zbx888 The 401.html performs the redirect via a meta tag, check if the blank page contains this tag? may be try increasing the number of seconds.

[2019-02-08 14:28] zbx888 commented on #99
@MohammadYounes Thank you!
Copy the View-> Source On blank page I got following source codes which totally is nothing with my code, looks like system automatically generated and the 401.html not called.

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
`<HTML>``<HEAD>`
`<META http-equiv="Content-Type"
content="text/html; charset=windows-1252">``</HEAD>`
`<BODY>``</BODY>``</HTML>`

[2019-02-08 14:36] zbx888 commented on #99
@MohammadYounes Thank you !
Got source code from View_Source of the blank page as following and it is generated by system, nothing with my application page which contains Master page. The 401.html file not called and no exception error is caught.

`<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">`
`<HTML><HEAD>`
`<META http-equiv="Content-Type"
content="text/html; charset=windows-125

[2019-02-19 14:47] b0bi79 opened #100 "Always redirect to login"
I am trying to implement OWIN-MixedAuth in my MVC project, but I have a problem. I do everything by the example of the MVC application from the repository.
I click the Windows button on the Login page, but get redirects to the Login page again. In debug mode, I see that the login was successful, but why the Login page reappears? What could be the reason, maybe you came across this?

[2019-02-19 18:52] MohammadYounes commented on #100
@b0bi79 I believe there is something missing, Do you face the same issue when running the provided examples ? Can you share your project code ?

[2019-02-19 18:53] #96 closed, assigned to nobody

[2019-02-19 18:54] #95 closed, assigned to nobody

[2019-02-19 18:55] #59 closed, assigned to nobody

[2019-02-19 18:57] #36 closed

[2019-02-19 18:58] #93 closed, assigned to nobody

[2019-02-20 14:45] b0bi79 commented on #100
Sorry, I figured it out. In fact, everything works. Just when I login with the domain name, a new user was created, which did not have rights. He was authenticated, but was not authorized, so I went redirect to the login page. Can you tell me how best to implement the output of the message that there is no rights, instead of redirecting to the login page?

[2019-02-20 16:36] MohammadYounes commented on #100
@b0bi79 You need a custom authorize attribute, check this [article](https://www.red-gate.com/simple-talk/dotnet/asp-net/thoughts-on-asp-net-mvc-authorization-and-security), mainly the section titled [Not Authorized or Just Not Logged In?
](https://www.red-gate.com/simple-talk/dotnet/asp-net/thoughts-on-asp-net-mvc-authorization-and-security/#crayon-5c6d80465e122785536483)

[2019-02-20 16:36] #100 closed, assigned to nobody

[2019-02-21 05:49] b0bi79 commented on #100
Thanks

[2019-03-05 01:51] zbx888 commented on #99
@MohammadYounes I am still struggle with the application one issue. If you can give some ideas to fix?

s1ppwebdev1 is a testing server name hosting several sites for testing and PayrollReportSSO is my web site folder under which I deployed the application also set StateServer to keep session data for application recycle pool.

The application runs fine at first several hours or even overnight on

[2019-03-08 11:57] MohammadYounes commented on #99
@zbx888 The `favicon.ico` is requested by the browser for each page, if it can't [find it](https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML#Adding_custom_icons_to_your_site) it will try to load it from the root. As you have this deployed as a web application (not a website), the browser is requesting `http://s1ppwebdev1/favicon.ico` instead of `htt

[2019-03-21 17:24] Bykiev commented on #59
@aproad, hi, I need to implement the same thing, are you able to make it working? If so, can you share with sample project?

[2019-05-31 11:10] b0bi79 opened #101 "Wandering error 401.2"
In my project, I made two authorization modes: by login/password and the Windows button. When I login by the Windows button, everything works well and there is no problem for a while. I have an auto-update every 10 minutes on the page `<meta http-equiv="refresh" content="600">`. After indefinite time, the page is loaded with the status 401.2 and the address MixedAuth?State=xxx.
I stopped execution

[2019-05-31 11:19] b0bi79 commented on #101
I noticed that on a working server on IIS, if login fails, the username looks like this "NT AUTHORITY\IUSR"

[2019-05-31 22:14] MohammadYounes commented on #101
Not sure what would cause such behavior, but most probably this is IIS impersonating anonymous user account "NT AUTHORITY\IUSR".

What are the application pool settings ? Does this happen under all browsers ?

[2019-06-03 13:55] b0bi79 commented on #101
Hmm, strange. Now I studied the situation deeper. The problem is reproduced only on my computer on the Chrome browser version 65.
In addition, in the first message I did not correctly indicate the error code. The Chrome page displays the following text:
[code]
But Developer Tools shows the last query as follows:
[code]
Apparently this is a browser issue. It should be redirected to `/AlphaBoard/Acc

[2019-06-05 09:57] MohammadYounes commented on #101
Nope, I never faced such issue.

[2019-06-05 16:31] b0bi79 commented on #101
The issue was solved by updating the browser.

[2019-06-05 16:31] #101 closed, assigned to nobody

[2019-12-31 13:06] serkanz opened #102 "CORS Headers not exist with 401 Authentication Challenge Response from MixedAuthHandler"
Hi,

I'm planning to use MixedAuth module in my project. Project is hosted on IIS with Owin and has MVC and Webapi endpoints. End users will use **/api/Token** (GET) api to access resource which requires authentication. I want my user to redirect to **/Account/Login** (form based authentication) view when they come from an external IP block, and **/Account/ExternalLogin** view when come from inter

[2019-12-31 14:56] MohammadYounes commented on #102
@serkanz Is this the same case as  #62 ?

[2019-12-31 16:13] serkanz commented on #102
@MohammadYounes thanks for your quick response. I called useCors method after calling useMixedAuth. So When I replaced the order it worked as it's expected. I'm closing the issue now.

[2019-12-31 16:13] #102 closed, assigned to nobody

[2020-02-18 09:34] chtenb opened #103 "Server Error in '/' Application after login in sample project (CREATE DATABASE failed)"
I compile and run the sample MVC project following the README.md.
After clicking `Login` -> `Windows` I get the following error
![image](https://user-images.githubusercontent.com/1030961/74722937-05f8e580-523a-11ea-80fa-5f0ca6b0fae9.png)

[2020-02-18 20:38] MohammadYounes commented on #103
@Chiel92 This means it can't create the database, either install LocalDb or update the connection string to point to your SQL Server.

[2020-02-18 20:38] #103 closed, assigned to nobody

[2020-02-19 14:55] chtenb commented on #103
Thank you

[2020-03-03 12:58] chtenb opened #104 "Replace HTTP Error 401.2 - Unauthorized default error page with custom error page?"
When starting the MVC sample project with firefox, clicking on the `Windows` login method, I get the following popup:
![image](https://user-images.githubusercontent.com/1030961/75777358-22c30c00-5d56-11ea-8751-aebcf6a08688.png)

This is expected, because firefox does this by default, and needs additional configuration changes to prevent this from happening, so that's okay. When pressing the cancel

[2020-03-09 14:53] MohammadYounes commented on #104
@Chiel92 I think you can send your own response in **Global.asax** `EndRequest` event.

Add the below to Global.asax consturctor before `this.RegisterMixedAuth();`

[code]

[2020-03-11 11:00] chtenb commented on #104
Thanks for your response. This indeed seems to work. However, would it also be possible to just return to the login screen with an error message, instead of writing a plain html string?

[2020-03-11 20:16] MohammadYounes commented on #104
You could return a content that redirects to the login page:

[code]

[2020-03-11 20:16] #104 closed, assigned to nobody

[2020-04-08 09:51] baresp opened #105 "Suppress Windows Authentication Dialog"
Is it possible to suppress Windows Authentication Dialog when autentication fail (user does not exist) and redirect to custom autentication form (cookie autentication) ?

[2020-04-12 20:01] MohammadYounes commented on #105
Did you check #104 ? Is this the same ?

[2020-04-16 13:56] Madhu-Patty commented on #105
@MohammadYounes

I tried using #104 and i open one #55.

I have my code like this

public static void RegisterWindowsAuthentication(this MvcApplication app)
        {
            app.EndRequest += (object sender, EventArgs e) =>
            {
                if (app.Context.Response.StatusCode == 418)
                {
                    app.Context.Response.Clear();
                    app.Conte

[2020-04-16 18:06] baresp commented on #105
No, I need suppress login dialog on server side (without reconfigure browser)

GET /TestMixAuth/MixedAuth?state=a5EG94shpmPiI5WQbrD1I_DHH...
server response HTTP/1.1 401 Unauthorized
When user does not exist (from different domain in my test) then browser show login dialog.

But if user exist (maybe because in the same domain ) browser send next request with auth. header and continue with authenti

[2020-04-18 21:23] MohammadYounes commented on #105
@baresp
Suppressing the dialog means automatic login with current credentials, which is a client configuration that depends on **Security Settings/User Authentication** of the current site zone:

![auto login](https://cloud.githubusercontent.com/assets/4712046/6040904/b1c35c44-ac7f-11e4-9526-7086d71c058b.png)

[2020-04-18 21:23] #105 closed, assigned to nobody

[2020-09-07 16:35] sacocelarc commented on #25
I still don't understand how can I prepopulate AspNetUsers table with user records and pair them with AD accounts/ in my case it is Windows 10 development machine.

So ... Test case of OWIN-MixedAuth shows us the case when AD/Windows user authenticate using Windows authentication. And when this is first time user is redirected to confirmation page where he enters mail address and hit the Register

[2020-09-08 09:22] brianlagerman commented on #25
I'm a little surprised that you're still using this code base considering it's age. If you're building an Intranet application, this might be fine, but if any external access is required you'll be opening a can of worms. I would highly recommend looking at some newer security packages, like passport for example, which will give you far more options with much better security.

But, if you still wan

[2020-09-08 18:42] sacocelarc commented on #25
Brian, thank you to respond.
Yes, I have the requirement to develop authentication for ASP.NET MVC 5 application where some users are logged as domain users (in AD) inside the organisation LAN  and other users come from internet ... and domain users should be logged in automatically by Windows authentication and internet users hould be logged in by Forms Authentication. All users are known in adva

[2020-09-09 08:03] brianlagerman commented on #25
Well, if you're bound by the current infrastructure then you might very well be in the right place.

I would first verify what flavor of AD is available to you (if you're not already sure). If you have either Active Directory Federation Services OR Azure Active Directory, then you really want to set up your domain users with the standard Oauth flow in ASP.NET Identity. It just saves a ton of troub

[2020-09-09 08:27] sacocelarc commented on #25
- they don't have avilable Active Directory Federation Services OR Azure Active Directory
- yes, they have VPN for remote work of domain users, so Windows Authentication should work
So I go OWIN-MixedAuth path.
Thank you for suggestions and directions.

[2020-09-12 20:56] MohammadYounes commented on #25
@sacocelarc

Users are linked via `objectSID`. To manually link identities, you need to add a record to `AspNetUserLogins` as follows:

| LoginProvider | ProviderKey |  UserId
|-----------------|--------------|-----------
| `Windows`       | `{AD objectSID}` | `{Aspnet User Id}`

Where  `{AD objectSID}` is the Active Directory user `objectSID` and `{Aspnet User Id}` is the local aspnet user id.

[2020-09-13 09:16] sacocelarc commented on #25
Mohammad, thank you for this missing piece. When I study code in examples I realized when record in AspNetUsers is created. But I was not aware of role of AspNetUserLogins table.

So if summarize my understanding of workflow in example code:

1. Get information about Windows/AD account ... info.Login.ProviderKey is set by value of {AD objectSID}
`Using  var info = await AuthenticationManager.GetEx

[2020-09-13 21:45] MohammadYounes commented on #25
@sacocelarc Yes.

[2020-10-20 19:59] sammydev395 opened #106 "Redirect does not seem to be working inthe Webforms sample with NET 4.72 + OWIN 4.1.1 + ASP.NET OWIN 2.2.3"
- Sample is used with web.config as is and setup to on IIS 8.5 running on Windows 2012 R2 with only windows auth enabled on the MixedAuth Location path and annonymous elsewhere
![image](https://user-images.githubusercontent.com/73196850/96637336-6b263e80-12d3-11eb-8c84-805e0d9c296c.png)
- The redirect in MixedAuthProvider seems to be in a loop and does not seem to be able to redirect in the delega

[2020-10-24 04:37] sammydev395 commented on #106
Resolved ths issue.

### IIS 8.x+ Application Host Config File Changes
For IIS 8.x please remember to naviogate \windows\system32\inetsrv\config and change the following attribute in the "applicationHost.config" file.
![image](https://user-images.githubusercontent.com/73196850/97067588-ae064180-1573-11eb-810d-1b91db2ec28e.png)

### IIS 8.x Web Site Folder Authentication Settings
In addtion to the

[2020-10-24 04:37] #106 closed, assigned to nobody

[2020-11-09 22:44] sacocelarc opened #107 "ERR_TOO_MANY_REDIRECTS on standalone IIS"
Hi,

I successfully implemented mixed authentication  with 401.html approach on it works on IIS Express integrated into VS 2019.
I implemented also the logic when I check incoming IP address and
- if an IP address is in one set (internal IP addresses) I pass connection to Account/WindowsLogin to perform Windows Authentication and if it can't be done I redirect connection via 401.html to Forms Logi

[2020-11-10 16:18] sacocelarc commented on #107
The problem is solved by enabling Anonymous Authentication on IIS level or Website level:
![anauth](https://user-images.githubusercontent.com/64663023/98700572-9ce17100-2378-11eb-859b-52e12742ad7c.png)

[2020-11-10 16:18] #107 closed, assigned to nobody